/****** Object:  StoredProcedure [ETL].[DBA_Send_Email]    Script Date: 6/18/2019 9:36:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


IF OBJECT_ID('[ETL].[DBA_Send_Email]') IS NOT NULL
BEGIN
	DROP PROCEDURE [ETL].[DBA_Send_Email]
END
GO


CREATE procedure [ETL].[DBA_Send_Email]

AS

DECLARE @ServerEmail VARCHAR(100) = LEFT(@@SERVERNAME,9)+'@OptimaHCS.com';

EXEC msdb.dbo.sp_send_dbmail  
@Profile_name = 'Public',
@recipients= 'Saurabh.Mankar@optimaHCS.com',
@Copy_recipients = 'Dustin.Bishop@OptimaHCS.com; John.Westling@OptimaHCS.com; Craig.Kohlhorst@OptimaHCS.com; saurabh.mankar@OptimaHCS.com',
@subject='PSIDEP - Facility Cleanup Project Completed Succeffully.',
@body='<p>PSIDEP Data Scrub SSIS Package Completed Successfully. This package cleaned up all the facilities and related info as requested by the customer.</p><p>For any questions reach out to Professional Services Team.</p>',
@body_format='HTML',
@from_address= @ServerEmail,
@reply_to='Saurabh.Mankar@OptimaHCS.com'