/****** Object:  StoredProcedure [ETL].[DBA_Send_Email_Start]    Script Date: 6/18/2019 9:36:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


IF OBJECT_ID('[ETL].[DBA_Send_Email_Start]') IS NOT NULL
BEGIN
	DROP PROCEDURE [ETL].[DBA_Send_Email_Start]
END
GO


CREATE PROCEDURE [ETL].[DBA_Send_Email_Start]

AS

DECLARE @ServerEmail VARCHAR(100) = LEFT(@@SERVERNAME,9)+'@OptimaHCS.com';

EXEC msdb.dbo.sp_send_dbmail  
@Profile_name = 'Public',
@recipients= 'Saurabh.Mankar@optimaHCS.com',
@Copy_recipients = 'Dustin.Bishop@OptimaHCS.com; John.Westling@OptimaHCS.com; Craig.Kohlhorst@OptimaHCS.com; Saurabh.Mankar@OptimaHCS.com',
@subject='PSIDEP - Facility Cleanup Project Started',
@body='<p>PSIDEP Data Scrub SSIS Package Started Successfully. This package will cleanup the facilities and related info as requested by the customer.</p><p>For any questions reach out to Professional Services Team.</p>',
@body_format='HTML',
@from_address=@ServerEmail,
@reply_to='Saurabh.Mankar@OptimaHCS.com'


