/****** Object:  StoredProcedure [ETL].[usp_Data_Scrub_Validation]    Script Date: 8/23/2019 9:14:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF OBJECT_ID('[ETL].[usp_Data_Scrub_Validation]') IS NOT NULL
	DROP PROCEDURE [ETL].[usp_Data_Scrub_Validation]
GO

CREATE PROCEDURE [ETL].[usp_Data_Scrub_Validation]

AS

TRUNCATE TABLE ETL.ROX_Data_Scrub_Validation;