/****** Object:  StoredProcedure [dbo].[usp_FDP_P1T5_PatientCaseRouteDeletion]    Script Date: 6/18/2019 9:29:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



IF OBJECT_ID('[dbo].[usp_FDP_P1T5_PatientCaseRouteDeletion]') IS NOT NULL
BEGIN
	DROP PROCEDURE [dbo].[usp_FDP_P1T5_PatientCaseRouteDeletion] 
END
GO


CREATE PROCEDURE [dbo].[usp_FDP_P1T5_PatientCaseRouteDeletion] 

AS

--===============================================================
--BEGIN -- PatientCase Route 
--===============================================================
	DECLARE @msg VARCHAR(MAX);
	DECLARE @RowCount int = 1;
	
	SET @msg = CONVERT(VARCHAR(20),GETDATE(),114)+' Deleting PatientCase Record(s) Associated with Resident record(s).';
	RAISERROR (@msg, 0, 1) WITH NOWAIT;


	DECLARE FacToDelete CURSOR 
	LOCAL FORWARD_ONLY READ_ONLY
	FOR
	SELECT Facility_ID FROM DBA.ETL.FacilityToDelete 
	
	DECLARE @Facility_ID AS INTEGER;

	OPEN FacToDelete
	FETCH FacToDelete INTO @Facility_ID

	WHILE(@@FETCH_STATUS = 0)
	BEGIN
			SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.CaseLevelOfCare TableToDelete
			INNER JOIN dbo.CasePayerSet CPS ON CPS.CasePayerSet_ID =  TableToDelete.CasePayerSet_ID
			INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = CPS.PatientCase_ID
			INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
			INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
			INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
			SET @RowCount = @@RowCount; COMMIT;
			END		
	
	
			SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.CasePayerSet TableToDelete
			INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = TableToDelete.PatientCase_ID
			INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
			INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
			INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
			SET @RowCount = @@RowCount; COMMIT;
			END
	
	
			SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.PatientCaseCareProvider TableToDelete
			INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = TableToDelete.PatientCase_ID
			INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
			INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
			INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
			SET @RowCount = @@RowCount; COMMIT;
			END
	
	
			SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM AuditLogs.ChangeLogDetail TableToDelete
			INNER JOIN AuditLogs.ChangeLogBatch CLB ON CLB.ChangeLogBatch_ID = TableToDelete.ChangeLogBatch_ID
			INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = CLB.PatientCase_ID
			INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
			INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
			INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
			SET @RowCount = @@RowCount; COMMIT;
			END
	
	
			SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM AuditLogs.ChangeLogBatch TableToDelete
			INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = TableToDelete.PatientCase_ID
			INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
			INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
			INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
			SET @RowCount = @@RowCount; COMMIT;
			END		
	
	
			SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.PatientCaseAttachment TableToDelete
			INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = TableToDelete.PatientCase_ID
			INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
			INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
			INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
			SET @RowCount = @@RowCount; COMMIT;
			END		
	
	
			SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM ClinicalOutcomes.FunctionalAssessmentMeasurement TableToDelete
			INNER JOIN ClinicalOutcomes.FunctionalAssessment FA ON FA.FunctionalAssessment_ID =  TableToDelete.FunctionalAssessment_ID
			INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = FA.PatientCase_ID
			INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
			INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
			INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
			SET @RowCount = @@RowCount; COMMIT;
			END
	
	
			SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM ClinicalOutcomes.FunctionalAssessment TableToDelete
			INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = TableToDelete.PatientCase_ID
			INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
			INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
			INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
			SET @RowCount = @@RowCount; COMMIT;
			END

	
			SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.PatientCaseStatus TableToDelete
			INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = TableToDelete.PatientCase_ID
			INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
			INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
			INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
			SET @RowCount = @@RowCount; COMMIT;
			END
	
	
			SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.TherapistAssignment TableToDelete
			INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = TableToDelete.PatientCase_ID
			INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
			INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
			INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
			SET @RowCount = @@RowCount; COMMIT;
			END

	
			SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.PatientCase TableToDelete
			INNER JOIN dbo.Stay S ON S.Stay_ID = TableToDelete.Stay_ID
			INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
			INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
			SET @RowCount = @@RowCount; COMMIT;
			END

	FETCH FacToDelete INTO @Facility_ID
	END

	CLOSE FacToDelete
	DEALLOCATE FacToDelete;

	
	SET @msg = CONVERT(VARCHAR(20),GETDATE(),114)+' Successfully Deleted PatientCase Record(s) Associated with Resident record(s).';
	RAISERROR (@msg, 0, 1) WITH NOWAIT;
--===============================================================
--END -- End of PatientCase Route 
--===============================================================



