/****** Object:  StoredProcedure [dbo].[usp_FDP_P2T6_FacilityPostRoute]    Script Date: 6/18/2019 9:32:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



IF OBJECT_ID('[dbo].[usp_FDP_P2T6_FacilityPostRoute]') IS NOT NULL
BEGIN
	DROP PROCEDURE [dbo].[usp_FDP_P2T6_FacilityPostRoute]
END
GO


CREATE PROCEDURE [dbo].[usp_FDP_P2T6_FacilityPostRoute]

AS

DECLARE @msg VARCHAR(MAX);
DECLARE @RowCount int = 1;

SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (1000) TableToDelete FROM dbo.NonCareChargeItem TableToDelete
INNER JOIN dbo.NonCareCharge NC ON NC.NonCareChargeItem_ID = TableToDelete.NonCareChargeItem_ID
WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = NC.Facility_ID);
COMMIT;	SET @RowCount = @@RowCount;
END

BEGIN TRANSACTION DELETE TableToDelete  FROM  dbo.ScheduleLayout TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID); COMMIT;

BEGIN TRANSACTION DELETE TableToDelete  FROM  dbo.PublishLibrary TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID); COMMIT;

BEGIN TRANSACTION DELETE TableToDelete  FROM  dbo.InstitutionFacility TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID); COMMIT;

BEGIN TRANSACTION DELETE TableToDelete  FROM  ClinicalOutcomes.FacilitySubscription TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID); COMMIT;

BEGIN TRANSACTION DELETE TableToDelete  FROM  Scheduling.ReminderCallConfig TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID); COMMIT;

BEGIN TRANSACTION DELETE TableToDelete  FROM  dbo.DocumentRuleConditions TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID); COMMIT;

BEGIN TRANSACTION DELETE TableToDelete  FROM  dbo.LevelOfCareRate TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID); COMMIT;

BEGIN TRANSACTION DELETE TableToDelete  FROM  dbo.Branch TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID); COMMIT;

BEGIN TRANSACTION DELETE TableToDelete  FROM  Tags.FacilityTag TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID); COMMIT;

BEGIN TRANSACTION DELETE TableToDelete  FROM  Scheduling.AppointmentStyleSetFacility TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID); COMMIT;

BEGIN TRANSACTION DELETE TableToDelete  FROM  dbo.ReimbursementScheduleAssignment TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID); COMMIT;

BEGIN TRANSACTION DELETE TableToDelete  FROM  dbo.ZoneFacility TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID); COMMIT;

BEGIN TRANSACTION DELETE TableToDelete  FROM  dbo.Budget TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID); COMMIT;

BEGIN TRANSACTION DELETE TableToDelete  FROM  dbo.ProviderLinkStatus TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID); COMMIT;

BEGIN TRANSACTION DELETE TableToDelete  FROM  dbo.ModelWeek TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID); COMMIT;

BEGIN TRANSACTION DELETE TableToDelete  FROM  dbo.ScheduleAnalyzerSetup TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID); COMMIT;

BEGIN TRANSACTION DELETE TableToDelete  FROM  Flowsheets.ExerciseLibraryFacility TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID); COMMIT;

BEGIN TRANSACTION DELETE TableToDelete  FROM  dbo.LaborUnitConversion TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID); COMMIT;

BEGIN TRANSACTION DELETE TableToDelete  FROM  dbo.Contact TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID); COMMIT;

BEGIN TRANSACTION DELETE TableToDelete  FROM  dbo.FacilityAllowedSource TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID); COMMIT;

BEGIN TRANSACTION DELETE TableToDelete  FROM  dbo.FacilityApplication TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID); COMMIT;

BEGIN TRANSACTION DELETE TableToDelete  FROM  dbo.FacilityBillingProvider TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID); COMMIT;

BEGIN TRANSACTION DELETE TableToDelete  FROM  dbo.FacilityCloseoutSet TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID); COMMIT;

BEGIN TRANSACTION DELETE TableToDelete  FROM  dbo.FacilityDiscipline TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID); COMMIT;

BEGIN TRANSACTION DELETE TableToDelete  FROM  dbo.FacilityExportCatalog TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID); COMMIT;

BEGIN TRANSACTION DELETE TableToDelete  FROM  dbo.FacilityNonCareChargeItem TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID); COMMIT;

BEGIN TRANSACTION DELETE TableToDelete  FROM  dbo.FacilityPayer TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID); COMMIT;

BEGIN TRANSACTION DELETE TableToDelete  FROM  dbo.FacilityServiceLocation TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID); COMMIT;

BEGIN TRANSACTION DELETE TableToDelete  FROM  dbo.FacilityIntakeSource TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID); COMMIT;

BEGIN TRANSACTION DELETE TableToDelete  FROM  dbo.FacilitySpecialtyProgram TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID); COMMIT;

BEGIN TRANSACTION DELETE TableToDelete  FROM  dbo.FacilityTrunkSupply TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID); COMMIT;

BEGIN TRANSACTION DELETE TableToDelete  FROM  dbo.FacilityTxDocumentTemplate TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID); COMMIT;

BEGIN TRANSACTION DELETE TableToDelete  FROM  dbo.FacilityTypeOfCare TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID); COMMIT;

BEGIN TRANSACTION DELETE TableToDelete  FROM  Interface.DataConsumer_Facility TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID); COMMIT;

BEGIN TRANSACTION DELETE TableToDelete  FROM  Interface.ExportMessageAdditionalInfo TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID); COMMIT;

BEGIN TRANSACTION DELETE TableToDelete  FROM  Interface.ColdFeedFacilityEndPointConfiguration TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID); COMMIT;

BEGIN TRANSACTION DELETE TableToDelete  FROM  Interface.FacilityChargeCodeMapping TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID); COMMIT;

BEGIN TRANSACTION DELETE TableToDelete  FROM  dbo.Facility TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID); COMMIT;