/****** Object:  StoredProcedure [dbo].[usp_FDP_P1T4_TxTrackRouteDeletion_Data_Validation]    Script Date: 6/18/2019 9:29:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


IF OBJECT_ID('[dbo].[usp_FDP_P1T4_TxTrackRouteDeletion_Data_Validation]') IS NOT NULL
BEGIN
	DROP PROCEDURE [dbo].[usp_FDP_P1T4_TxTrackRouteDeletion_Data_Validation]
END
GO


CREATE PROCEDURE [dbo].[usp_FDP_P1T4_TxTrackRouteDeletion_Data_Validation] 

AS
SET NOCOUNT ON;

SELECT 'AuthorizationMedicarePartB',COUNT(*) FROM dbo.AuthorizationMedicarePartB TableToDelete
	INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TableToDelete.TxTrack_ID
	INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
	INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	
SELECT 'FunctionalLimitation',COUNT(*) FROM dbo.FunctionalLimitation TableToDelete
	INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TableToDelete.TxTrack_ID
	INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
	INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;

SELECT 'PatientPayment',COUNT(*)  FROM  Financial.PatientPayment TableToDelete
	INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TableToDelete.TxTrack_ID
	INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
	INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;

SELECT 'TxImage',COUNT(*)  FROM dbo.TxImage TableToDelete
	INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TableToDelete.TxTrack_ID
	INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
	INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;

SELECT 'TxTrack',COUNT(*) FROM  dbo.TxTrack TableToDelete
	INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = TableToDelete.PatientCase_ID
	INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;


