/****** Object:  StoredProcedure [dbo].[usp_FDP_P1T3_TxDocumentRouteDeletion]    Script Date: 6/18/2019 9:19:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID('[dbo].[usp_FDP_P1T3_TxDocumentRouteDeletion]') IS NOT NULL
BEGIN
	DROP PROCEDURE [dbo].[usp_FDP_P1T3_TxDocumentRouteDeletion]
END
GO


CREATE PROCEDURE [dbo].[usp_FDP_P1T3_TxDocumentRouteDeletion] 

AS

--===============================================================
--BEGIN --  TxDocument Route 
--===============================================================
	DECLARE @msg VARCHAR(MAX);
	DECLARE @RowCount int = 1;

	SET @msg = CONVERT(VARCHAR(20),GETDATE(),114)+' Deleting TxDocument Record(s) Associated with Resident record(s).';
	RAISERROR (@msg, 0, 1) WITH NOWAIT;
	
	
	DECLARE FacToDelete CURSOR 
	LOCAL FORWARD_ONLY READ_ONLY
	FOR
	SELECT Facility_ID FROM DBA.ETL.FacilityToDelete 
	
	DECLARE @Facility_ID AS INTEGER;

	OPEN FacToDelete
	FETCH FacToDelete INTO @Facility_ID

	WHILE(@@FETCH_STATUS = 0)
	BEGIN
			SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.TxDocumentGoalValue TableToDelete
			INNER JOIN dbo.TxDocumentGoal TDG ON TDG.TxDocumentGoal_ID = TableToDelete.TxDocumentGoal_ID
			INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = TDG.TxDocument_ID
			INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TD.TxTrack_ID
			INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
			INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
			INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
			INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID  WHERE R.Facility_ID = @Facility_ID;
			SET @RowCount = @@RowCount; COMMIT;
			END
	
			
			SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.TxDocumentGoalTarget TableToDelete
			INNER JOIN dbo.TxDocumentGoal TDG ON TDG.TxDocumentGoal_ID = TableToDelete.TxDocumentGoal_ID
			INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = TDG.TxDocument_ID
			INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TD.TxTrack_ID
			INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
			INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
			INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
			INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID  WHERE R.Facility_ID = @Facility_ID;
			SET @RowCount = @@RowCount; COMMIT;
			END
	
			
			SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.TxDocumentGoalStatus TableToDelete
			INNER JOIN dbo.TxDocumentGoal TDG ON TDG.TxDocumentGoal_ID = TableToDelete.TxDocumentGoal_ID
			INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = TDG.TxDocument_ID
			INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TD.TxTrack_ID
			INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
			INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
			INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
			INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID  WHERE R.Facility_ID = @Facility_ID;
			SET @RowCount = @@RowCount; COMMIT;
			END
	
			
			SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.TxDocumentGoalRelation TableToDelete
			INNER JOIN dbo.TxDocumentGoal TDG ON TDG.TxDocumentGoal_ID = TableToDelete.ATxDocumentGoal_ID OR TDG.TxDocumentGoal_ID = TableToDelete.BTxDocumentGoal_ID
			INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = TDG.TxDocument_ID
			INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TD.TxTrack_ID
			INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
			INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
			INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
			INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID  WHERE R.Facility_ID = @Facility_ID;
			SET @RowCount = @@RowCount; COMMIT;
			END
	
			
			SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.TxDocumentGoal TableToDelete
			INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = TableToDelete.TxDocument_ID
			INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TD.TxTrack_ID
			INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
			INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
			INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
			INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID  WHERE R.Facility_ID = @Facility_ID;
			SET @RowCount = @@RowCount; COMMIT;
			END		
	
			
			SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM ClinicalOutcomes.FunctionalAssessmentMeasurement TableToDelete
			INNER JOIN ClinicalOutcomes.FunctionalAssessment CF ON CF.FunctionalAssessment_ID = TableToDelete.FunctionalAssessment_ID
			INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = CF.TxDocument_ID
			INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TD.TxTrack_ID
			INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
			INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
			INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
			INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID  WHERE R.Facility_ID = @Facility_ID;
			SET @RowCount = @@RowCount; COMMIT;
			END
	
			
			SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM ClinicalOutcomes.FunctionalAssessment TableToDelete
			INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = TableToDelete.TxDocument_ID
			INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TD.TxTrack_ID
			INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
			INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
			INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
			INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID  WHERE R.Facility_ID = @Facility_ID;
			SET @RowCount = @@RowCount; COMMIT;
			END		
	
			
			SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.TxDocumentItem TableToDelete
			INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = TableToDelete.TxDocument_ID
			INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TD.TxTrack_ID
			INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
			INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
			INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
			INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID  WHERE R.Facility_ID = @Facility_ID;
			SET @RowCount = @@RowCount; COMMIT;
			END
	
			
			SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.TxDocumentTypeOfTherapy TableToDelete
			INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = TableToDelete.TxDocument_ID
			INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TD.TxTrack_ID
			INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
			INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
			INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
			INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID  WHERE R.Facility_ID = @Facility_ID;
			SET @RowCount = @@RowCount; COMMIT;
			END
	
			
			SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.TxDocumentAudit TableToDelete
			INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = TableToDelete.TxDocument_ID
			INNER JOIN Snapshots.TxDocumentSnapshot TDS ON TDS.TxDocument_ID = TD.TxDocument_ID
			INNER JOIN Snapshots.TxDocumentESignature TDE ON TDE.TxDocumentSnapshot_ID = TDS.TxDocumentSnapshot_ID
			INNER JOIN dbo.PhysicianDocument PD ON PD.PhysicianDocument_ID = TD.CurrentPhysicianDocument_ID
			INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TD.TxTrack_ID
			INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
			INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
			INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
			INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID  WHERE R.Facility_ID = @Facility_ID;
			SET @RowCount = @@RowCount; COMMIT;
			END
	
			
			SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.TxPlan TableToDelete
			INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = TableToDelete.TxDocument_ID
			INNER JOIN Snapshots.TxDocumentSnapshot TDS ON TDS.TxDocument_ID = TD.TxDocument_ID
			INNER JOIN Snapshots.TxDocumentESignature TDE ON TDE.TxDocumentSnapshot_ID = TDS.TxDocumentSnapshot_ID
			INNER JOIN dbo.PhysicianDocument PD ON PD.PhysicianDocument_ID = TD.CurrentPhysicianDocument_ID
			INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TD.TxTrack_ID
			INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
			INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
			INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
			INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID  WHERE R.Facility_ID = @Facility_ID;
			SET @RowCount = @@RowCount; COMMIT;
			END
	
			
			SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.TxDocument TableToDelete
			INNER JOIN dbo.PhysicianDocument PD2 ON PD2.PhysicianDocument_ID = TableToDelete.CurrentPhysicianDocument_ID
			INNER JOIN Snapshots.TxDocumentESignature TDE ON TDE.TxDocumentESignature_ID = PD2.TxDocumentESignature_ID
			INNER JOIN Snapshots.TxDocumentSnapshot TDS ON TDS.TxDocumentSnapshot_ID = TDE.TxDocumentSnapshot_ID
			INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = TDS.TxDocument_ID
			INNER JOIN dbo.PhysicianDocument PD ON PD.PhysicianDocument_ID = TD.CurrentPhysicianDocument_ID
			INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TD.TxTrack_ID
			INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
			INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
			INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
			INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID  WHERE R.Facility_ID = @Facility_ID;
			SET @RowCount = @@RowCount; COMMIT;
			END
	
			
			SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.PhysicianDocument TableToDelete
			INNER JOIN Snapshots.TxDocumentESignature TDE ON TDE.TxDocumentESignature_ID = TableToDelete.TxDocumentESignature_ID 
			INNER JOIN Snapshots.TxDocumentSnapshot TDS ON TDS.TxDocumentSnapshot_ID = TDE.TxDocumentSnapshot_ID
			INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = TDS.TxDocument_ID
			INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TD.TxTrack_ID
			INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
			INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
			INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
			INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID  WHERE R.Facility_ID = @Facility_ID;
			SET @RowCount = @@RowCount; COMMIT;
			END
	
	
			SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM Snapshots.TxDocumentESignature TableToDelete
			INNER JOIN Snapshots.TxDocumentSnapshot TDS ON TDS.TxDocumentSnapshot_ID = TableToDelete.TxDocumentSnapshot_ID
			INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = TDS.TxDocument_ID
			INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TD.TxTrack_ID
			INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
			INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
			INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
			INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID  WHERE R.Facility_ID = @Facility_ID;
			SET @RowCount = @@RowCount; COMMIT;
			END

			SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM Snapshots.TxDocumentSnapshot TableToDelete
			INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = TableToDelete.TxDocument_ID
			INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TD.TxTrack_ID
			INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
			INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
			INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
			INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID  WHERE R.Facility_ID = @Facility_ID;
			SET @RowCount = @@RowCount; COMMIT;
			END

			
			SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.TxDiagnosis TableToDelete
			INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = TableToDelete.TxDocument_ID
			INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TD.TxTrack_ID
			INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
			INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
			INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
			INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID  WHERE R.Facility_ID = @Facility_ID;
			SET @RowCount = @@RowCount; COMMIT;
			END
	
			SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.TxPlan TableToDelete
			INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = TableToDelete.TxDocument_ID
			INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TD.TxTrack_ID
			INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
			INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
			INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
			INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID  WHERE R.Facility_ID = @Facility_ID;
			SET @RowCount = @@RowCount; COMMIT;
			END
	
			
			SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM Interface.ExportDocument TableToDelete
			INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = TableToDelete.TxDocument_ID
			INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TD.TxTrack_ID
			INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
			INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
			INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
			INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID  WHERE R.Facility_ID = @Facility_ID;
			SET @RowCount = @@RowCount; COMMIT;
			END
	
			
			SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.TxDocumentAudit TableToDelete
			INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = TableToDelete.TxDocument_ID
			INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TD.TxTrack_ID
			INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
			INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
			INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
			INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID  WHERE R.Facility_ID = @Facility_ID;
			SET @RowCount = @@RowCount; COMMIT;
			END		
	
			
			SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.TxDocumentTemplateApplication TableToDelete
			INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = TableToDelete.TxDocument_ID
			INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TD.TxTrack_ID
			INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
			INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
			INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
			INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID  WHERE R.Facility_ID = @Facility_ID;
			SET @RowCount = @@RowCount; COMMIT;
			END
	
			
			SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.SectionGGItemCollection TableToDelete
			INNER JOIN dbo.SectionGGAssessment SGGA ON SGGA.SectionGGAssessment_ID = TableToDelete.SectionGGAssessment_ID
			INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = SGGA.TxDocument_ID
			INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TD.TxTrack_ID
			INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
			INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
			INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
			INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID  WHERE R.Facility_ID = @Facility_ID;
			SET @RowCount = @@RowCount; COMMIT;
			END
	
			
			SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.SectionGGAssessment TableToDelete
			INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = TableToDelete.TxDocument_ID
			INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TD.TxTrack_ID
			INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
			INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
			INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
			INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID  WHERE R.Facility_ID = @Facility_ID;
			SET @RowCount = @@RowCount; COMMIT;
			END
	
			
			SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.TxDocument TableToDelete
			INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TableToDelete.TxTrack_ID
			INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
			INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
			INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
			INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID  WHERE R.Facility_ID = @Facility_ID;
			SET @RowCount = @@RowCount; COMMIT;
			END
	FETCH FacToDelete INTO @Facility_ID
	END

	CLOSE FacToDelete
	DEALLOCATE FacToDelete;
	
	SET @msg = CONVERT(VARCHAR(20),GETDATE(),114)+' Successfully Deleted TxDocument Record(s) Associated with Resident record(s).';
	RAISERROR (@msg, 0, 1) WITH NOWAIT;
--===============================================================
--END --  End of TxDocument Route 
--===============================================================


