/****** Object:  StoredProcedure [dbo].[usp_FDP_P1T1_ResidentRoutePre]    Script Date: 6/18/2019 9:18:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID('[dbo].[usp_FDP_P1T1_ResidentRoutePre]') IS NOT NULL
BEGIN
	DROP PROCEDURE [dbo].[usp_FDP_P1T1_ResidentRoutePre] 
END
GO

CREATE PROCEDURE [dbo].[usp_FDP_P1T1_ResidentRoutePre] 

AS


	DECLARE FacToDelete CURSOR 
	LOCAL FORWARD_ONLY READ_ONLY
	FOR
	SELECT Facility_ID FROM DBA.ETL.FacilityToDelete 
	
	DECLARE @Facility_ID AS INTEGER;

	OPEN FacToDelete
	FETCH FacToDelete INTO @Facility_ID

	WHILE(@@FETCH_STATUS = 0)
	BEGIN
				
		DECLARE @RowCount int = 1;

		SET @RowCount = 1;
		WHILE @RowCount >0 


		BEGIN
		BEGIN TRANSACTION 
		DELETE TOP (100) TableToDelete FROM dbo.SectionGGItemCollection TableToDelete 
		--SELECT * FROM dbo.SectionGGItemCollection TableToDelete 
		INNER JOIN dbo.SectionGGAssessment SG WITH (NOLOCK) ON SG.SectionGGAssessment_ID = TableToDelete.SectionGGAssessment_ID
		INNER JOIN dbo.PPSTrack P WITH (NOLOCK)  ON P.PPSTrack_ID = SG.PPSTrack_ID
		INNER JOIN dbo.Resident  R WITH (NOLOCK)  ON R.Resident_ID = P.Resident_ID
		INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID WHERE R.Facility_ID = @Facility_ID;
		SET @RowCount = @@RowCount; COMMIT;
		END



		SET @RowCount = 1;
		WHILE @RowCount >0 

		BEGIN
		BEGIN TRANSACTION
		DELETE TOP (100) TableToDelete FROM dbo.SectionGGAssessment TableToDelete 
		INNER JOIN dbo.PPSTrack P WITH (NOLOCK) ON P.PPSTrack_ID = TableToDelete.PPSTrack_ID
		INNER JOIN dbo.Resident  R WITH (NOLOCK) ON R.Resident_ID = P.Resident_ID
		INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID WHERE R.Facility_ID = @Facility_ID;
		SET @RowCount = @@RowCount; COMMIT;
		END



		SET @RowCount = @@RowCount;
		SET @RowCount = 1;

		WHILE @RowCount >0 
		BEGIN 
		BEGIN TRANSACTION
		DELETE TOP (100) TableToDelete FROM dbo.UncoveredDay TableToDelete 
		INNER JOIN dbo.PPSTrack P WITH (NOLOCK) ON P.PPSTrack_ID = TableToDelete.PPSTrack_ID
		INNER JOIN dbo.Resident  R WITH (NOLOCK) ON R.Resident_ID = P.Resident_ID
		INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID WHERE R.Facility_ID = @Facility_ID;	
		SET @RowCount = @@RowCount;COMMIT;
		END


		SET @RowCount = 1;
		WHILE @RowCount >0 
		BEGIN 
		BEGIN TRANSACTION
		DELETE TOP (100) TableToDelete FROM dbo.Assessment TableToDelete 
		INNER JOIN dbo.PPSTrack P WITH (NOLOCK) ON P.PPSTrack_ID = TableToDelete.PPSTrack_ID
		INNER JOIN dbo.Resident  R WITH (NOLOCK) ON R.Resident_ID = P.Resident_ID
		INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID WHERE R.Facility_ID = @Facility_ID;
		SET @RowCount = @@RowCount; COMMIT;
		END


		SET @RowCount = 1;
		WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.Assessment TableToDelete
		INNER JOIN dbo.PPSTrack P WITH (NOLOCK) ON P.PPSTrack_ID = TableToDelete.PPSTrack_ID
		INNER JOIN dbo.Resident  R WITH (NOLOCK) ON R.Resident_ID = P.Resident_ID
		INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID WHERE R.Facility_ID = @Facility_ID;
		SET @RowCount = @@RowCount; COMMIT;
		END


		SET @RowCount = 1;
		WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.CaseLevelOfCare TableToDelete
		INNER JOIN dbo.CasePayerSet CPS WITH (NOLOCK) ON CPS.CasePayerSet_ID = TableToDelete.CasePayerSet_ID
		INNER JOIN dbo.PPSTrack P WITH (NOLOCK) ON P.PPSTrack_ID = CPS.PPSTrack_ID
		INNER JOIN dbo.Resident  R WITH (NOLOCK) ON R.Resident_ID = P.Resident_ID
		INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID WHERE R.Facility_ID = @Facility_ID;
		SET @RowCount = @@RowCount; COMMIT;
		END


		SET @RowCount = 1;
		WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.CasePayerSet TableToDelete
		INNER JOIN dbo.PPSTrack P WITH (NOLOCK) ON P.PPSTrack_ID = TableToDelete.PPSTrack_ID
		INNER JOIN dbo.Resident  R WITH (NOLOCK) ON R.Resident_ID = P.Resident_ID
		INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID WHERE R.Facility_ID = @Facility_ID;
		SET @RowCount = @@RowCount; COMMIT;
		END


		SET @RowCount = 1;
		WHILE @RowCount >0 

		BEGIN
		BEGIN TRANSACTION
		DELETE TOP (100) TableToDelete FROM dbo.PPSTrack TableToDelete
		INNER JOIN dbo.Resident  R WITH (NOLOCK) ON R.Resident_ID = TableToDelete.Resident_ID
		INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID WHERE R.Facility_ID = @Facility_ID;
		SET @RowCount = @@RowCount; COMMIT;
		END

		SET @RowCount = 1;
		WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM Snapshots.TxSessionESignature TableToDelete
		INNER JOIN Snapshots.TxSessionSnapshot TDS WITH (NOLOCK) ON TDS.TxSessionSnapshot_ID = TableToDelete.TxSessionSnapshot_ID
		INNER JOIN dbo.TxSession TS WITH (NOLOCK) ON TS.TxSession_ID = TDS.TxSession_ID
		INNER JOIN dbo.ResidentAddress RA WITH (NOLOCK) ON RA.ResidentAddress_ID = TS.ResidentAddress_ID
		INNER JOIN dbo.Resident R WITH (NOLOCK) ON R.Resident_ID = RA.Resident_ID
		INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID WHERE R.Facility_ID = @Facility_ID;
		SET @RowCount = @@RowCount; COMMIT;
		END

		SET @RowCount = 1;
		WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM Snapshots.TxSessionSnapshot TableToDelete
		INNER JOIN dbo.TxSession TS WITH (NOLOCK) ON TS.TxSession_ID = TableToDelete.TxSession_ID
		INNER JOIN dbo.ResidentAddress RA WITH (NOLOCK) ON RA.ResidentAddress_ID = TS.ResidentAddress_ID
		INNER JOIN dbo.Resident R WITH (NOLOCK) ON R.Resident_ID = RA.Resident_ID
		INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID WHERE R.Facility_ID = @Facility_ID;
		SET @RowCount = @@RowCount; COMMIT;
		END

		SET @RowCount = 1;
		WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.TxMinute TableToDelete
		INNER JOIN dbo.TxSession TS WITH (NOLOCK) ON TS.TxSession_ID = TableToDelete.TxSession_ID
		INNER JOIN dbo.ResidentAddress RA WITH (NOLOCK) ON RA.ResidentAddress_ID = TS.ResidentAddress_ID
		INNER JOIN dbo.Resident R WITH (NOLOCK) ON R.Resident_ID = RA.Resident_ID
		INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID WHERE R.Facility_ID = @Facility_ID;
		SET @RowCount = @@RowCount; COMMIT;
		END

		SET @RowCount = 1;
		WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.TxDocumentItem TableToDelete
		INNER JOIN dbo.TxDocument TD WITH (NOLOCK) ON TD.TxDocument_ID = TableToDelete.TxDocument_ID
		INNER JOIN dbo.TxSession TS WITH (NOLOCK) ON TS.SessionIdentifier = TD.SessionIdentifier
		INNER JOIN dbo.ResidentAddress RA WITH (NOLOCK) ON RA.ResidentAddress_ID = TS.ResidentAddress_ID
		INNER JOIN dbo.Resident R WITH (NOLOCK) ON R.Resident_ID = RA.Resident_ID
		INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID WHERE R.Facility_ID = @Facility_ID;
		SET @RowCount = @@RowCount; COMMIT;
		END

		SET @RowCount = 1;
		WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.TxDocumentTypeOfTherapy TableToDelete
		INNER JOIN dbo.TxDocument TD WITH (NOLOCK) ON TD.TxDocument_ID = TableToDelete.TxDocument_ID
		INNER JOIN dbo.TxSession TS WITH (NOLOCK) ON TS.SessionIdentifier = TD.SessionIdentifier
		INNER JOIN dbo.ResidentAddress RA WITH (NOLOCK) ON RA.ResidentAddress_ID = TS.ResidentAddress_ID
		INNER JOIN dbo.Resident R WITH (NOLOCK) ON R.Resident_ID = RA.Resident_ID
		INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID WHERE R.Facility_ID = @Facility_ID;
		SET @RowCount = @@RowCount; COMMIT;
		END

		SET @RowCount = 1;
		WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.TxDocumentAudit TableToDelete
		INNER JOIN dbo.TxDocument TD WITH (NOLOCK) ON TD.TxDocument_ID = TableToDelete.TxDocument_ID
		INNER JOIN dbo.TxSession TS WITH (NOLOCK) ON TS.SessionIdentifier = TD.SessionIdentifier
		INNER JOIN dbo.ResidentAddress RA WITH (NOLOCK) ON RA.ResidentAddress_ID = TS.ResidentAddress_ID
		INNER JOIN dbo.Resident R WITH (NOLOCK) ON R.Resident_ID = RA.Resident_ID
		INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID WHERE R.Facility_ID = @Facility_ID;
		SET @RowCount = @@RowCount; COMMIT;
		END

		--Deleting Document Attached to session

		SET @RowCount = 1;
		WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.TxDocument TableToDelete
		INNER JOIN dbo.TxSession TS WITH (NOLOCK) ON TS.SessionIdentifier = TableToDelete.SessionIdentifier
		INNER JOIN dbo.ResidentAddress RA WITH (NOLOCK) ON RA.ResidentAddress_ID = TS.ResidentAddress_ID
		INNER JOIN dbo.Resident R WITH (NOLOCK) ON R.Resident_ID = RA.Resident_ID
		INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID WHERE R.Facility_ID = @Facility_ID;
		SET @RowCount = @@RowCount; COMMIT;
		END

		SET @RowCount = 1;
		WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.TxSessionActivity TableToDelete
		INNER JOIN dbo.TxSession TS WITH (NOLOCK) ON TS.TxSession_ID = TableToDelete.TxSession_ID
		INNER JOIN dbo.ResidentAddress RA WITH (NOLOCK) ON RA.ResidentAddress_ID = TS.ResidentAddress_ID
		INNER JOIN dbo.Resident R WITH (NOLOCK) ON R.Resident_ID = RA.Resident_ID
		INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID WHERE R.Facility_ID = @Facility_ID;
		SET @RowCount = @@RowCount; COMMIT;
		END

		SET @RowCount = 1;
		WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.TxSession TableToDelete
		INNER JOIN dbo.ResidentAddress RA WITH (NOLOCK) ON RA.ResidentAddress_ID = TableToDelete.ResidentAddress_ID
		INNER JOIN dbo.Resident R WITH (NOLOCK) ON R.Resident_ID = RA.Resident_ID
		INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID WHERE R.Facility_ID = @Facility_ID;
		SET @RowCount = @@RowCount; COMMIT;
		END

		SET @RowCount = 1;
		WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.ResidentAddress TableToDelete
		INNER JOIN dbo.Resident  R WITH (NOLOCK) ON R.Resident_ID = TableToDelete.Resident_ID
		INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID WHERE R.Facility_ID = @Facility_ID;
		SET @RowCount = @@RowCount; COMMIT;
		END

		SET @RowCount = 1;
		WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.ResidentInfo TableToDelete
		INNER JOIN dbo.Resident  R WITH (NOLOCK) ON R.Resident_ID = TableToDelete.Resident_ID
		INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID WHERE R.Facility_ID = @Facility_ID;
		SET @RowCount = @@RowCount; COMMIT;
		END



		SET @RowCount = 1;
		WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.ScheduleAction TableToDelete
		INNER JOIN dbo.Schedule S WITH (NOLOCK) ON S.Schedule_ID = TableToDelete.Schedule_ID
		INNER JOIN dbo.Resident  R WITH (NOLOCK) ON R.Resident_ID = S.Resident_ID
		INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID WHERE R.Facility_ID = @Facility_ID;
		SET @RowCount = @@RowCount; COMMIT;
		END



		SET @RowCount = 1;
		WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.Schedule TableToDelete
		INNER JOIN dbo.Resident  R WITH (NOLOCK) ON R.Resident_ID = TableToDelete.Resident_ID
		INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID WHERE R.Facility_ID = @Facility_ID;
		SET @RowCount = @@RowCount; COMMIT;
		END

FETCH FacToDelete INTO @Facility_ID
END

CLOSE FacToDelete
DEALLOCATE FacToDelete;