/****** Object:  StoredProcedure [dbo].[usp_FDP_P2T1_FacilityPreRoute_Data_Validation]    Script Date: 6/18/2019 9:31:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



IF OBJECT_ID('[dbo].[usp_FDP_P2T1_FacilityPreRoute_Data_Validation]') IS NOT NULL
BEGIN
	DROP PROCEDURE [dbo].[usp_FDP_P2T1_FacilityPreRoute_Data_Validation]
END
GO


CREATE PROCEDURE [dbo].[usp_FDP_P2T1_FacilityPreRoute_Data_Validation] 

AS
SET NOCOUNT ON;

--===============================================================
----BEGIN -- Facility Pre Route 
--===============================================================

	SELECT 'ResidentPayerSequence',COUNT(*)  FROM dbo.ResidentPayerSequence TableToDelete 
	INNER JOIN dbo.ResidentPayer RP ON RP.ResidentPayer_ID = TableToDelete.ResidentPayer_ID
	INNER JOIN dbo.ResidentContact RC ON RC.ResidentContact_ID = RP.SubscriberResidentContact_ID
	INNER JOIN dbo.Contact C ON C.Contact_ID = RC.Contact_ID
	WHERE EXISTS  (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = c.Facility_ID  );
	
	SELECT 'ResidentPayerBenefit',COUNT(*)  FROM dbo.ResidentPayerBenefit TableToDelete 
	INNER JOIN dbo.ResidentPayer RP ON RP.ResidentPayer_ID = TableToDelete.ResidentPayer_ID
	INNER JOIN dbo.ResidentContact RC ON RC.ResidentContact_ID = RP.SubscriberResidentContact_ID
	INNER JOIN dbo.Contact C ON C.Contact_ID = RC.Contact_ID
	WHERE EXISTS  (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = c.Facility_ID  );
	

	SELECT 'ResidentPayer',COUNT(*)  FROM dbo.ResidentPayer TableToDelete 
	INNER JOIN dbo.ResidentContact RC ON RC.ResidentContact_ID = TableToDelete.SubscriberResidentContact_ID
	INNER JOIN dbo.Contact C ON C.Contact_ID = RC.Contact_ID
	WHERE EXISTS  (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = c.Facility_ID );
	

	SELECT 'ResidentContact',COUNT(*)  FROM dbo.ResidentContact TableToDelete 
	INNER JOIN dbo.Contact C ON C.Contact_ID = TableToDelete.Contact_ID
	WHERE EXISTS  (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = c.Facility_ID );
	
--==============================================================================

--==============================================================================
	SELECT 'FacilityCensusValue',COUNT(*)  FROM dbo.FacilityCensusValue TableToDelete
	INNER JOIN dbo.FacilityCensus FC ON FC.FacilityCensus_ID = TableToDelete.FacilityCensus_ID
	WHERE  EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = fc.Facility_ID );

	SELECT 'FacilityCensus',COUNT(*) FROM dbo.FacilityCensus fc WHERE EXISTS  (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = fc.Facility_ID );