/****** Object:  StoredProcedure [dbo].[usp_FDP_P1T2_TxSessionRouteDeletion]    Script Date: 6/18/2019 9:19:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF OBJECT_ID('[dbo].[usp_FDP_P1T2_TxSessionRouteDeletion]') IS NOT NULL
BEGIN
	DROP PROCEDURE [dbo].[usp_FDP_P1T2_TxSessionRouteDeletion] 
END
GO

CREATE PROCEDURE [dbo].[usp_FDP_P1T2_TxSessionRouteDeletion] 
AS

SET NOCOUNT ON;
--===============================================================
BEGIN --  TxSession Route 
--===============================================================
	DECLARE @msg VARCHAR(MAX);
	DECLARE @RowCount int = 1;

	SET @msg = CONVERT(VARCHAR(20),GETDATE(),114)+' Deleting TxSession Record(s) Associated with Resident record(s).';
	RAISERROR (@msg, 0, 1) WITH NOWAIT;

		
	DECLARE FacToDelete CURSOR 
	LOCAL FORWARD_ONLY READ_ONLY
	FOR
	SELECT Facility_ID FROM DBA.ETL.FacilityToDelete 
	
	DECLARE @Facility_ID AS INTEGER;

	OPEN FacToDelete
	FETCH FacToDelete INTO @Facility_ID

	WHILE(@@FETCH_STATUS = 0)
	BEGIN

		SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.TxSessionActivity TableToDelete
		INNER JOIN dbo.TxSession TS ON TS.TxSession_ID = TableToDelete.TxSession_ID
		INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TS.TxTrack_ID
		INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
		INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
		INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
		INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID
		WHERE R.Facility_ID = @Facility_ID;
		SET @RowCount = @@RowCount; COMMIT;
		END
	
			
		SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM Snapshots.TxSessionESignature TableToDelete
		INNER JOIN Snapshots.TxSessionSnapshot TDS ON TDS.TxSessionSnapshot_ID = TableToDelete.TxSessionSnapshot_ID
		INNER JOIN dbo.TxSession TS ON TS.TxSession_ID = TDS.TxSession_ID
		INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TS.TxTrack_ID
		INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
		INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
		INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
		INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID
		WHERE R.Facility_ID = @Facility_ID;
		SET @RowCount = @@RowCount; COMMIT;
		END		
		
		SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM Snapshots.TxSessionSnapshot TableToDelete
		INNER JOIN dbo.TxSession TS ON TS.TxSession_ID = TableToDelete.TxSession_ID
		INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TS.TxTrack_ID
		INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
		INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
		INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
		INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID
		WHERE R.Facility_ID = @Facility_ID;
		SET @RowCount = @@RowCount; COMMIT;
		END
		
		
		SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM Interface.ExportMessageAdditionalInfo TableToDelete
		INNER JOIN dbo.TxSession TS ON TS.TxSession_ID = TableToDelete.TxSession_ID
		INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TS.TxTrack_ID
		INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
		INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
		INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
		INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID
		WHERE R.Facility_ID = @Facility_ID;
		SET @RowCount = @@RowCount; COMMIT;
		END		
	
		SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.TxMinute TableToDelete
		INNER JOIN dbo.TxSession TS ON TS.TxSession_ID = TableToDelete.TxSession_ID
		INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TS.TxTrack_ID
		INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
		INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
		INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
		INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID
		WHERE R.Facility_ID = @Facility_ID;
		SET @RowCount = @@RowCount; COMMIT;
		END
	
		SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.TxSession TableToDelete
		INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TableToDelete.TxTrack_ID
		INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
		INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
		INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
		INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID
		WHERE R.Facility_ID = @Facility_ID;
		SET @RowCount = @@RowCount; COMMIT;
		END
		
	FETCH FacToDelete INTO @Facility_ID
	END

	CLOSE FacToDelete
	DEALLOCATE FacToDelete;

	SET @msg = CONVERT(VARCHAR(20),GETDATE(),114)+' Successfully Deleted TxSession Record(s) Associated with Resident record(s).';
	RAISERROR (@msg, 0, 1) WITH NOWAIT;
	
--===============================================================
END --  End of TxSession Route 
--===============================================================
