/****** Object:  StoredProcedure [dbo].[usp_FDP_P1T3_TxDocumentRouteDeletion_Data_Validation]    Script Date: 6/18/2019 9:20:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF OBJECT_ID('[dbo].[usp_FDP_P1T3_TxDocumentRouteDeletion_Data_Validation]') IS NOT NULL
BEGIN
	DROP PROCEDURE [dbo].[usp_FDP_P1T3_TxDocumentRouteDeletion_Data_Validation]
END
GO


CREATE PROCEDURE [dbo].[usp_FDP_P1T3_TxDocumentRouteDeletion_Data_Validation] 

AS

SELECT 'TxDocumentGoalValue',COUNT(*) FROM dbo.TxDocumentGoalValue TableToDelete
	INNER JOIN dbo.TxDocumentGoal TDG ON TDG.TxDocumentGoal_ID = TableToDelete.TxDocumentGoal_ID
	INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = TDG.TxDocument_ID
	INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TD.TxTrack_ID
	INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
	INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;

SELECT 'TxDocumentGoalTarget',COUNT(*) FROM dbo.TxDocumentGoalTarget TableToDelete
	INNER JOIN dbo.TxDocumentGoal TDG ON TDG.TxDocumentGoal_ID = TableToDelete.TxDocumentGoal_ID
	INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = TDG.TxDocument_ID
	INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TD.TxTrack_ID
	INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
	INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;

SELECT 'TxDocumentGoalStatus',COUNT(*) FROM dbo.TxDocumentGoalStatus TableToDelete
	INNER JOIN dbo.TxDocumentGoal TDG ON TDG.TxDocumentGoal_ID = TableToDelete.TxDocumentGoal_ID
	INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = TDG.TxDocument_ID
	INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TD.TxTrack_ID
	INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
	INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;

SELECT 'TxDocumentGoalRelation',COUNT(*) FROM dbo.TxDocumentGoalRelation TableToDelete
	INNER JOIN dbo.TxDocumentGoal TDG ON TDG.TxDocumentGoal_ID = TableToDelete.ATxDocumentGoal_ID OR TDG.TxDocumentGoal_ID = TableToDelete.BTxDocumentGoal_ID
	INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = TDG.TxDocument_ID
	INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TD.TxTrack_ID
	INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
	INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;

SELECT 'TxDocumentGoal',COUNT(*) FROM dbo.TxDocumentGoal TableToDelete
	INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = TableToDelete.TxDocument_ID
	INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TD.TxTrack_ID
	INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
	INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;


SELECT 'FunctionalAssessmentMeasurement',COUNT(*) FROM ClinicalOutcomes.FunctionalAssessmentMeasurement TableToDelete
	INNER JOIN ClinicalOutcomes.FunctionalAssessment CF ON CF.FunctionalAssessment_ID = TableToDelete.FunctionalAssessment_ID
	INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = CF.TxDocument_ID
	INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TD.TxTrack_ID
	INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
	INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;

SELECT 'FunctionalAssessment',COUNT(*) FROM ClinicalOutcomes.FunctionalAssessment TableToDelete
	INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = TableToDelete.TxDocument_ID
	INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TD.TxTrack_ID
	INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
	INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;

SELECT 'TxDocumentItem',COUNT(*) FROM dbo.TxDocumentItem TableToDelete
	INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = TableToDelete.TxDocument_ID
	INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TD.TxTrack_ID
	INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
	INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;

SELECT 'TxDocumentTypeOfTherapy',COUNT(*) FROM dbo.TxDocumentTypeOfTherapy TableToDelete
	INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = TableToDelete.TxDocument_ID
	INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TD.TxTrack_ID
	INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
	INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;

SELECT 'TxDocumentAudit',COUNT(*) FROM dbo.TxDocumentAudit TableToDelete
	INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = TableToDelete.TxDocument_ID
	INNER JOIN Snapshots.TxDocumentSnapshot TDS ON TDS.TxDocument_ID = TD.TxDocument_ID
	INNER JOIN Snapshots.TxDocumentESignature TDE ON TDE.TxDocumentSnapshot_ID = TDS.TxDocumentSnapshot_ID
	INNER JOIN dbo.PhysicianDocument PD ON PD.PhysicianDocument_ID = TD.CurrentPhysicianDocument_ID
	INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TD.TxTrack_ID
	INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
	INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;

SELECT 'TxPlan',COUNT(*) FROM dbo.TxPlan TableToDelete
	INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = TableToDelete.TxDocument_ID
	INNER JOIN Snapshots.TxDocumentSnapshot TDS ON TDS.TxDocument_ID = TD.TxDocument_ID
	INNER JOIN Snapshots.TxDocumentESignature TDE ON TDE.TxDocumentSnapshot_ID = TDS.TxDocumentSnapshot_ID
	INNER JOIN dbo.PhysicianDocument PD ON PD.PhysicianDocument_ID = TD.CurrentPhysicianDocument_ID
	INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TD.TxTrack_ID
	INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
	INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;

SELECT 'TxDocument',COUNT(*) FROM dbo.TxDocument TableToDelete
	INNER JOIN dbo.PhysicianDocument PD2 ON PD2.PhysicianDocument_ID = TableToDelete.CurrentPhysicianDocument_ID
	INNER JOIN Snapshots.TxDocumentESignature TDE ON TDE.TxDocumentESignature_ID = PD2.TxDocumentESignature_ID
	INNER JOIN Snapshots.TxDocumentSnapshot TDS ON TDS.TxDocumentSnapshot_ID = TDE.TxDocumentSnapshot_ID
	INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = TDS.TxDocument_ID
	INNER JOIN dbo.PhysicianDocument PD ON PD.PhysicianDocument_ID = TD.CurrentPhysicianDocument_ID
	INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TD.TxTrack_ID
	INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
	INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;

SELECT 'PhysicianDocument',COUNT(*) FROM dbo.PhysicianDocument TableToDelete
	INNER JOIN Snapshots.TxDocumentESignature TDE ON TDE.TxDocumentESignature_ID = TableToDelete.TxDocumentESignature_ID 
	INNER JOIN Snapshots.TxDocumentSnapshot TDS ON TDS.TxDocumentSnapshot_ID = TDE.TxDocumentSnapshot_ID
	INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = TDS.TxDocument_ID
	INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TD.TxTrack_ID
	INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
	INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;

SELECT 'TxDocumentESignature',COUNT(*) FROM Snapshots.TxDocumentESignature TableToDelete
	INNER JOIN Snapshots.TxDocumentSnapshot TDS ON TDS.TxDocumentSnapshot_ID = TableToDelete.TxDocumentSnapshot_ID
	INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = TDS.TxDocument_ID
	INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TD.TxTrack_ID
	INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
	INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;

SELECT 'TxDocumentSnapshot',COUNT(*) FROM Snapshots.TxDocumentSnapshot TableToDelete
	INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = TableToDelete.TxDocument_ID
	INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TD.TxTrack_ID
	INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
	INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;


SELECT 'TxDiagnosis',COUNT(*) FROM dbo.TxDiagnosis TableToDelete
	INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = TableToDelete.TxDocument_ID
	INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TD.TxTrack_ID
	INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
	INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	

SELECT 'TxPlan',COUNT(*) FROM dbo.TxPlan TableToDelete
	INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = TableToDelete.TxDocument_ID
	INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TD.TxTrack_ID
	INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
	INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;

SELECT 'ExportDocument',COUNT(*) FROM Interface.ExportDocument TableToDelete
	INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = TableToDelete.TxDocument_ID
	INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TD.TxTrack_ID
	INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
	INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;


SELECT 'TxDocumentAudit',COUNT(*) FROM dbo.TxDocumentAudit TableToDelete
	INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = TableToDelete.TxDocument_ID
	INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TD.TxTrack_ID
	INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
	INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;

SELECT 'TxDocumentTemplateApplication',COUNT(*) FROM dbo.TxDocumentTemplateApplication TableToDelete
	INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = TableToDelete.TxDocument_ID
	INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TD.TxTrack_ID
	INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
	INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;

SELECT 'SectionGGItemCollection',COUNT(*) FROM dbo.SectionGGItemCollection TableToDelete
	INNER JOIN dbo.SectionGGAssessment SGGA ON SGGA.SectionGGAssessment_ID = TableToDelete.SectionGGAssessment_ID
	INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = SGGA.TxDocument_ID
	INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TD.TxTrack_ID
	INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
	INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;

SELECT 'SectionGGAssessment',COUNT(*) FROM dbo.SectionGGAssessment TableToDelete
	INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = TableToDelete.TxDocument_ID
	INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TD.TxTrack_ID
	INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
	INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;

SELECT 'TxDocument',COUNT(*) FROM dbo.TxDocument TableToDelete
	INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TableToDelete.TxTrack_ID
	INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
	INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;