/****** Object:  StoredProcedure [dbo].[usp_FDP_P1T4_TxTrackRouteDeletion]    Script Date: 6/18/2019 9:20:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




IF OBJECT_ID('[dbo].[usp_FDP_P1T4_TxTrackRouteDeletion]') IS NOT NULL
BEGIN
	DROP PROCEDURE [dbo].[usp_FDP_P1T4_TxTrackRouteDeletion] 
END
GO


CREATE PROCEDURE [dbo].[usp_FDP_P1T4_TxTrackRouteDeletion] 

AS
SET NOCOUNT ON;


--===============================================================
--BEGIN --  TxTrack Route 
--===============================================================	
	DECLARE @msg VARCHAR(MAX);
	DECLARE @RowCount int = 1;
	
	SET @msg = CONVERT(VARCHAR(20),GETDATE(),114)+' Deleting TxTrack Record(s) Associated with Resident record(s).';
	RAISERROR (@msg, 0, 1) WITH NOWAIT;

	
	
	DECLARE FacToDelete CURSOR 
	LOCAL FORWARD_ONLY READ_ONLY
	FOR
	SELECT Facility_ID FROM DBA.ETL.FacilityToDelete 
	
	DECLARE @Facility_ID AS INTEGER;

	OPEN FacToDelete
	FETCH FacToDelete INTO @Facility_ID

	WHILE(@@FETCH_STATUS = 0)
	BEGIN
		SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.AuthorizationMedicarePartB TableToDelete
		INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TableToDelete.TxTrack_ID
		INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
		INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
		INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
		INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID  WHERE R.Facility_ID = @Facility_ID;
		SET @RowCount = @@RowCount; COMMIT;
		END
	
		
		SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.FunctionalLimitation TableToDelete
		INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TableToDelete.TxTrack_ID
		INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
		INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
		INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
		INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID  WHERE R.Facility_ID = @Facility_ID;
		SET @RowCount = @@RowCount; COMMIT;
		END
	
		SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM Financial.PatientPayment TableToDelete
		INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TableToDelete.TxTrack_ID
		INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
		INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
		INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
		INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID  WHERE R.Facility_ID = @Facility_ID;
		SET @RowCount = @@RowCount; COMMIT;
		END

		SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.TxImage TableToDelete
		INNER JOIN dbo.TxTrack T ON T.TxTrack_ID = TableToDelete.TxTrack_ID
		INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = T.PatientCase_ID
		INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
		INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
		INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID  WHERE R.Facility_ID = @Facility_ID;
		SET @RowCount = @@RowCount; COMMIT;
		END
	
		
		SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.TxTrack TableToDelete
		INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = TableToDelete.PatientCase_ID
		INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
		INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
		INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID  WHERE R.Facility_ID = @Facility_ID;
		SET @RowCount = @@RowCount; COMMIT;
		END


	FETCH FacToDelete INTO @Facility_ID
	END

	CLOSE FacToDelete
	DEALLOCATE FacToDelete;

	
	SET @msg = CONVERT(VARCHAR(20),GETDATE(),114)+' Successfully Deleted TxTrack Record(s) Associated with Resident record(s).';
	RAISERROR (@msg, 0, 1) WITH NOWAIT;
--===============================================================
--END -- End of TxTrack Route 
--===============================================================




