/****** Object:  StoredProcedure [dbo].[usp_FDP_P1T1_ResidentRoutePre_Data_Validation]    Script Date: 6/18/2019 9:18:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID('[dbo].[usp_FDP_P1T1_ResidentRoutePre_Data_Validation]') IS NOT NULL
BEGIN
	DROP PROCEDURE [dbo].[usp_FDP_P1T1_ResidentRoutePre_Data_Validation];
END
GO

CREATE PROCEDURE [dbo].[usp_FDP_P1T1_ResidentRoutePre_Data_Validation]
AS

 
SELECT 'SectionGGItemCollection',COUNT(*) FROM dbo.SectionGGItemCollection TableToDelete 
INNER JOIN dbo.SectionGGAssessment SG WITH (NOLOCK) ON SG.SectionGGAssessment_ID = TableToDelete.SectionGGAssessment_ID
INNER JOIN dbo.PPSTrack P WITH (NOLOCK)  ON P.PPSTrack_ID = SG.PPSTrack_ID
INNER JOIN dbo.Resident  R WITH (NOLOCK)  ON R.Resident_ID = P.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp WITH (NOLOCK)  ON Temp.Facility_ID = R.Facility_ID;


SELECT 'SectionGGAssessment',COUNT(*) FROM dbo.SectionGGAssessment TableToDelete 
INNER JOIN dbo.PPSTrack P WITH (NOLOCK) ON P.PPSTrack_ID = TableToDelete.PPSTrack_ID
INNER JOIN dbo.Resident  R WITH (NOLOCK) ON R.Resident_ID = P.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp WITH (NOLOCK) ON Temp.Facility_ID = R.Facility_ID;

SELECT 'UncoveredDay',COUNT(*) FROM dbo.UncoveredDay TableToDelete 
INNER JOIN dbo.PPSTrack P WITH (NOLOCK) ON P.PPSTrack_ID = TableToDelete.PPSTrack_ID
INNER JOIN dbo.Resident  R WITH (NOLOCK) ON R.Resident_ID = P.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp WITH (NOLOCK) ON Temp.Facility_ID = R.Facility_ID;

SELECT 'Assessment',COUNT(*) FROM dbo.Assessment TableToDelete 
INNER JOIN dbo.PPSTrack P WITH (NOLOCK) ON P.PPSTrack_ID = TableToDelete.PPSTrack_ID
INNER JOIN dbo.Resident  R WITH (NOLOCK) ON R.Resident_ID = P.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp WITH (NOLOCK) ON Temp.Facility_ID = R.Facility_ID;


SELECT 'CaseLevelOfCare',COUNT(*) FROM dbo.CaseLevelOfCare TableToDelete
INNER JOIN dbo.CasePayerSet CPS WITH (NOLOCK) ON CPS.CasePayerSet_ID = TableToDelete.CasePayerSet_ID
INNER JOIN dbo.PPSTrack P WITH (NOLOCK) ON P.PPSTrack_ID = CPS.PPSTrack_ID
INNER JOIN dbo.Resident  R WITH (NOLOCK) ON R.Resident_ID = P.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp WITH (NOLOCK) ON Temp.Facility_ID = R.Facility_ID;

SELECT 'CasePayerSet',COUNT(*) FROM dbo.CasePayerSet TableToDelete
INNER JOIN dbo.PPSTrack P WITH (NOLOCK) ON P.PPSTrack_ID = TableToDelete.PPSTrack_ID
INNER JOIN dbo.Resident  R WITH (NOLOCK) ON R.Resident_ID = P.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp WITH (NOLOCK) ON Temp.Facility_ID = R.Facility_ID;

SELECT 'PPSTrack',COUNT(*) FROM dbo.PPSTrack TableToDelete
INNER JOIN dbo.Resident  R WITH (NOLOCK) ON R.Resident_ID = TableToDelete.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp WITH (NOLOCK) ON Temp.Facility_ID = R.Facility_ID;

SELECT 'TxSessionESignature',COUNT(*)  FROM Snapshots.TxSessionESignature TableToDelete
INNER JOIN Snapshots.TxSessionSnapshot TDS WITH (NOLOCK) ON TDS.TxSessionSnapshot_ID = TableToDelete.TxSessionSnapshot_ID
INNER JOIN dbo.TxSession TS WITH (NOLOCK) ON TS.TxSession_ID = TDS.TxSession_ID
INNER JOIN dbo.ResidentAddress RA WITH (NOLOCK) ON RA.ResidentAddress_ID = TS.ResidentAddress_ID
INNER JOIN dbo.Resident R WITH (NOLOCK) ON R.Resident_ID = RA.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp WITH (NOLOCK) ON Temp.Facility_ID = R.Facility_ID;

SELECT 'TxSessionSnapshot',COUNT(*)  FROM Snapshots.TxSessionSnapshot TableToDelete
INNER JOIN dbo.TxSession TS WITH (NOLOCK) ON TS.TxSession_ID = TableToDelete.TxSession_ID
INNER JOIN dbo.ResidentAddress RA WITH (NOLOCK) ON RA.ResidentAddress_ID = TS.ResidentAddress_ID
INNER JOIN dbo.Resident R WITH (NOLOCK) ON R.Resident_ID = RA.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp WITH (NOLOCK) ON Temp.Facility_ID = R.Facility_ID;

SELECT 'TxMinute',COUNT(*) FROM dbo.TxMinute TableToDelete
INNER JOIN dbo.TxSession TS WITH (NOLOCK) ON TS.TxSession_ID = TableToDelete.TxSession_ID
INNER JOIN dbo.ResidentAddress RA WITH (NOLOCK) ON RA.ResidentAddress_ID = TS.ResidentAddress_ID
INNER JOIN dbo.Resident R WITH (NOLOCK) ON R.Resident_ID = RA.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp WITH (NOLOCK) ON Temp.Facility_ID = R.Facility_ID;

SELECT 'TxDocumentItem',COUNT(*)  FROM dbo.TxDocumentItem TableToDelete
INNER JOIN dbo.TxDocument TD WITH (NOLOCK) ON TD.TxDocument_ID = TableToDelete.TxDocument_ID
INNER JOIN dbo.TxSession TS WITH (NOLOCK) ON TS.SessionIdentifier = TD.SessionIdentifier
INNER JOIN dbo.ResidentAddress RA WITH (NOLOCK) ON RA.ResidentAddress_ID = TS.ResidentAddress_ID
INNER JOIN dbo.Resident R WITH (NOLOCK) ON R.Resident_ID = RA.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp WITH (NOLOCK) ON Temp.Facility_ID = R.Facility_ID;

SELECT 'TxDocumentTypeOfTherapy',COUNT(*)  FROM dbo.TxDocumentTypeOfTherapy TableToDelete
INNER JOIN dbo.TxDocument TD WITH (NOLOCK) ON TD.TxDocument_ID = TableToDelete.TxDocument_ID
INNER JOIN dbo.TxSession TS WITH (NOLOCK) ON TS.SessionIdentifier = TD.SessionIdentifier
INNER JOIN dbo.ResidentAddress RA WITH (NOLOCK) ON RA.ResidentAddress_ID = TS.ResidentAddress_ID
INNER JOIN dbo.Resident R WITH (NOLOCK) ON R.Resident_ID = RA.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp WITH (NOLOCK) ON Temp.Facility_ID = R.Facility_ID;

SELECT 'TxDocumentAudit',COUNT(*) FROM dbo.TxDocumentAudit TableToDelete
INNER JOIN dbo.TxDocument TD WITH (NOLOCK) ON TD.TxDocument_ID = TableToDelete.TxDocument_ID
INNER JOIN dbo.TxSession TS WITH (NOLOCK) ON TS.SessionIdentifier = TD.SessionIdentifier
INNER JOIN dbo.ResidentAddress RA WITH (NOLOCK) ON RA.ResidentAddress_ID = TS.ResidentAddress_ID
INNER JOIN dbo.Resident R WITH (NOLOCK) ON R.Resident_ID = RA.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp WITH (NOLOCK) ON Temp.Facility_ID = R.Facility_ID;

SELECT 'TxDocument',COUNT(*) FROM dbo.TxDocument TableToDelete
INNER JOIN dbo.TxSession TS WITH (NOLOCK) ON TS.SessionIdentifier = TableToDelete.SessionIdentifier
INNER JOIN dbo.ResidentAddress RA WITH (NOLOCK) ON RA.ResidentAddress_ID = TS.ResidentAddress_ID
INNER JOIN dbo.Resident R WITH (NOLOCK) ON R.Resident_ID = RA.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp WITH (NOLOCK) ON Temp.Facility_ID = R.Facility_ID;

SELECT 'TxSessionActivity',COUNT(*) FROM dbo.TxSessionActivity TableToDelete
INNER JOIN dbo.TxSession TS WITH (NOLOCK) ON TS.TxSession_ID = TableToDelete.TxSession_ID
INNER JOIN dbo.ResidentAddress RA WITH (NOLOCK) ON RA.ResidentAddress_ID = TS.ResidentAddress_ID
INNER JOIN dbo.Resident R WITH (NOLOCK) ON R.Resident_ID = RA.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp WITH (NOLOCK) ON Temp.Facility_ID = R.Facility_ID;

SELECT 'TxSession',COUNT(*) FROM dbo.TxSession TableToDelete
INNER JOIN dbo.ResidentAddress RA WITH (NOLOCK) ON RA.ResidentAddress_ID = TableToDelete.ResidentAddress_ID
INNER JOIN dbo.Resident R WITH (NOLOCK) ON R.Resident_ID = RA.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp WITH (NOLOCK) ON Temp.Facility_ID = R.Facility_ID;

SELECT 'ResidentAddress',COUNT(*) FROM dbo.ResidentAddress TableToDelete
INNER JOIN dbo.Resident  R WITH (NOLOCK) ON R.Resident_ID = TableToDelete.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp WITH (NOLOCK) ON Temp.Facility_ID = R.Facility_ID;

SELECT 'ResidentInfo',COUNT(*) FROM dbo.ResidentInfo TableToDelete
INNER JOIN dbo.Resident  R WITH (NOLOCK) ON R.Resident_ID = TableToDelete.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp WITH (NOLOCK) ON Temp.Facility_ID = R.Facility_ID;

SELECT 'ScheduleAction',COUNT(*) FROM dbo.ScheduleAction TableToDelete
INNER JOIN dbo.Schedule S WITH (NOLOCK) ON S.Schedule_ID = TableToDelete.Schedule_ID
INNER JOIN dbo.Resident  R WITH (NOLOCK) ON R.Resident_ID = S.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp WITH (NOLOCK) ON Temp.Facility_ID = R.Facility_ID;

SELECT 'Schedule',COUNT(*) FROM dbo.Schedule TableToDelete
INNER JOIN dbo.Resident  R WITH (NOLOCK) ON R.Resident_ID = TableToDelete.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp WITH (NOLOCK) ON Temp.Facility_ID = R.Facility_ID;


SELECT 'Completion of [usp_FDP_P1T1_ResidentRoutePre_Data_Validation]',0