/****** Object:  StoredProcedure [dbo].[usp_FDP_P1T5_PatientCaseRouteDeletion_Data_Validation]    Script Date: 6/18/2019 9:29:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


IF OBJECT_ID('[dbo].[usp_FDP_P1T5_PatientCaseRouteDeletion_Data_Validation]') IS NOT NULL
BEGIN
	DROP PROCEDURE [dbo].[usp_FDP_P1T5_PatientCaseRouteDeletion_Data_Validation] 
END
GO


CREATE PROCEDURE [dbo].[usp_FDP_P1T5_PatientCaseRouteDeletion_Data_Validation] 

AS

--===============================================================
--BEGIN -- PatientCase Route 
--===============================================================

	
	SELECT 'CaseLevelOfCare',COUNT(*) FROM dbo.CaseLevelOfCare TableToDelete
	INNER JOIN dbo.CasePayerSet CPS ON CPS.CasePayerSet_ID =  TableToDelete.CasePayerSet_ID
	INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = CPS.PatientCase_ID
	INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	
	
	
	
	SELECT 'CasePayerSet',COUNT(*) FROM dbo.CasePayerSet TableToDelete
	INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = TableToDelete.PatientCase_ID
	INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	
	
	
	
	SELECT 'PatientCaseCareProvider',COUNT(*) FROM dbo.PatientCaseCareProvider TableToDelete
	INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = TableToDelete.PatientCase_ID
	INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	
	
	
	
	SELECT 'ChangeLogDetail',COUNT(*) FROM AuditLogs.ChangeLogDetail TableToDelete
	INNER JOIN AuditLogs.ChangeLogBatch CLB ON CLB.ChangeLogBatch_ID = TableToDelete.ChangeLogBatch_ID
	INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = CLB.PatientCase_ID
	INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	
	
	
	
	SELECT 'ChangeLogBatch',COUNT(*) FROM AuditLogs.ChangeLogBatch TableToDelete
	INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = TableToDelete.PatientCase_ID
	INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	
	
	
	
	SELECT 'PatientCaseAttachment',COUNT(*) FROM dbo.PatientCaseAttachment TableToDelete
	INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = TableToDelete.PatientCase_ID
	INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	
	
	
	
	SELECT 'FunctionalAssessmentMeasurement',COUNT(*) FROM ClinicalOutcomes.FunctionalAssessmentMeasurement TableToDelete
	INNER JOIN ClinicalOutcomes.FunctionalAssessment FA ON FA.FunctionalAssessment_ID =  TableToDelete.FunctionalAssessment_ID
	INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = FA.PatientCase_ID
	INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	
	
	
	
	SELECT 'FunctionalAssessment',COUNT(*) FROM ClinicalOutcomes.FunctionalAssessment TableToDelete
	INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = TableToDelete.PatientCase_ID
	INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	
	

	
	SELECT 'PatientCaseStatus',COUNT(*) FROM dbo.PatientCaseStatus TableToDelete
	INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = TableToDelete.PatientCase_ID
	INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	
	
	
	
	SELECT 'TherapistAssignment',COUNT(*) FROM dbo.TherapistAssignment TableToDelete
	INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = TableToDelete.PatientCase_ID
	INNER JOIN dbo.Stay S ON S.Stay_ID = PC.Stay_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	
	

	
	SELECT 'PatientCase',COUNT(*) FROM dbo.PatientCase TableToDelete
	INNER JOIN dbo.Stay S ON S.Stay_ID = TableToDelete.Stay_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	
	
--===============================================================
-- --  of PatientCase Route 
--===============================================================


