/****** Object:  StoredProcedure [dbo].[usp_FDP_P2T2_FacilityIntakeSourceRoute_Data_Validation]    Script Date: 6/18/2019 9:31:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


IF OBJECT_ID('[dbo].[usp_FDP_P2T2_FacilityIntakeSourceRoute_Data_Validation]') IS NOT NULL
BEGIN
	DROP PROCEDURE [dbo].[usp_FDP_P2T2_FacilityIntakeSourceRoute_Data_Validation]
END
GO


CREATE PROCEDURE [dbo].[usp_FDP_P2T2_FacilityIntakeSourceRoute_Data_Validation] 

AS
SET NOCOUNT ON;


--==============================================================================
--BEGIN -- Facility Intake Source Route
--==============================================================================




SELECT 'TxDiagnosis',COUNT(*)  FROM dbo.TxDiagnosis TableToDelete
INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = TableToDelete.TxDocument_ID
INNER JOIN dbo.TxTrack Trk ON Trk.TxTrack_ID = TD.TxTrack_ID
INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = Trk.PatientCase_ID
INNER JOIN dbo.FacilityServiceLocation FSL ON FSL.FacilityServiceLocation_ID = PC.FacilityServiceLocation_ID
INNER JOIN dbo.FacilityIntakeSource FIS ON FIS.FacilityIntakeSource_ID = FSL.ServiceLocationIntakeSource_ID
WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd WHERE ftd.Facility_ID = FIS.Facility_ID);



SELECT 'TxDocumentAudit',COUNT(*)  FROM dbo.TxDocumentAudit TableToDelete
INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = TableToDelete.TxDocument_ID
INNER JOIN dbo.TxTrack Trk ON Trk.TxTrack_ID = TD.TxTrack_ID
INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = Trk.PatientCase_ID
INNER JOIN dbo.FacilityServiceLocation FSL ON FSL.FacilityServiceLocation_ID = PC.FacilityServiceLocation_ID
INNER JOIN dbo.FacilityIntakeSource FIS ON FIS.FacilityIntakeSource_ID = FSL.ServiceLocationIntakeSource_ID
WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd WHERE ftd.Facility_ID = FIS.Facility_ID);



SELECT 'TxPlan',COUNT(*)  FROM dbo.TxPlan TableToDelete
INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = TableToDelete.TxDocument_ID
INNER JOIN dbo.TxTrack Trk ON Trk.TxTrack_ID = TD.TxTrack_ID
INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = Trk.PatientCase_ID
INNER JOIN dbo.FacilityServiceLocation FSL ON FSL.FacilityServiceLocation_ID = PC.FacilityServiceLocation_ID
INNER JOIN dbo.FacilityIntakeSource FIS ON FIS.FacilityIntakeSource_ID = FSL.ServiceLocationIntakeSource_ID
WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd WHERE ftd.Facility_ID = FIS.Facility_ID);



SELECT 'TxDocumentTypeOfTherapy',COUNT(*)  FROM dbo.TxDocumentTypeOfTherapy TableToDelete
INNER JOIN dbo.TxDocument TD ON TD.TxDocument_ID = TableToDelete.TxDocument_ID
INNER JOIN dbo.TxTrack Trk ON Trk.TxTrack_ID = TD.TxTrack_ID
INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = Trk.PatientCase_ID
INNER JOIN dbo.FacilityServiceLocation FSL ON FSL.FacilityServiceLocation_ID = PC.FacilityServiceLocation_ID
INNER JOIN dbo.FacilityIntakeSource FIS ON FIS.FacilityIntakeSource_ID = FSL.ServiceLocationIntakeSource_ID
WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd WHERE ftd.Facility_ID = FIS.Facility_ID);



SELECT 'TxDocument',COUNT(*)  FROM dbo.TxDocument TableToDelete
INNER JOIN dbo.TxTrack Trk ON Trk.TxTrack_ID = TableToDelete.TxTrack_ID
INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = Trk.PatientCase_ID
INNER JOIN dbo.FacilityServiceLocation FSL ON FSL.FacilityServiceLocation_ID = PC.FacilityServiceLocation_ID
INNER JOIN dbo.FacilityIntakeSource FIS ON FIS.FacilityIntakeSource_ID = FSL.ServiceLocationIntakeSource_ID
WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd WHERE ftd.Facility_ID = FIS.Facility_ID);



SELECT 'TxMinute',COUNT(*)  FROM dbo.TxMinute TableToDelete
INNER JOIN dbo.TxSession TS ON TS.TxSession_ID = TableToDelete.TxSession_ID
INNER JOIN dbo.TxTrack Trk ON Trk.TxTrack_ID = TS.TxTrack_ID
INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = Trk.PatientCase_ID
INNER JOIN dbo.FacilityServiceLocation FSL ON FSL.FacilityServiceLocation_ID = PC.FacilityServiceLocation_ID
INNER JOIN dbo.FacilityIntakeSource FIS ON FIS.FacilityIntakeSource_ID = FSL.ServiceLocationIntakeSource_ID
WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd WHERE ftd.Facility_ID = FIS.Facility_ID);



SELECT 'TxSession',COUNT(*)  FROM dbo.TxSession TableToDelete
INNER JOIN dbo.TxTrack Trk ON Trk.TxTrack_ID = TableToDelete.TxTrack_ID
INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = Trk.PatientCase_ID
INNER JOIN dbo.FacilityServiceLocation FSL ON FSL.FacilityServiceLocation_ID = PC.FacilityServiceLocation_ID
INNER JOIN dbo.FacilityIntakeSource FIS ON FIS.FacilityIntakeSource_ID = FSL.ServiceLocationIntakeSource_ID
WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd WHERE ftd.Facility_ID = FIS.Facility_ID);



SELECT 'FunctionalLimitation',COUNT(*)  FROM dbo.FunctionalLimitation TableToDelete
INNER JOIN dbo.TxTrack Trk ON Trk.TxTrack_ID = TableToDelete.TxTrack_ID
INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = Trk.PatientCase_ID
INNER JOIN dbo.FacilityServiceLocation FSL ON FSL.FacilityServiceLocation_ID = PC.FacilityServiceLocation_ID
INNER JOIN dbo.FacilityIntakeSource FIS ON FIS.FacilityIntakeSource_ID = FSL.ServiceLocationIntakeSource_ID
WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd WHERE ftd.Facility_ID = FIS.Facility_ID);



SELECT 'TxTrack',COUNT(*)  FROM dbo.TxTrack TableToDelete
INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = TableToDelete.PatientCase_ID
INNER JOIN dbo.FacilityServiceLocation FSL ON FSL.FacilityServiceLocation_ID = PC.FacilityServiceLocation_ID
INNER JOIN dbo.FacilityIntakeSource FIS ON FIS.FacilityIntakeSource_ID = FSL.ServiceLocationIntakeSource_ID
WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd WHERE ftd.Facility_ID = FIS.Facility_ID);



SELECT 'CasePayerSet',COUNT(*)  FROM dbo.CasePayerSet TableToDelete
INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = TableToDelete.PatientCase_ID
INNER JOIN dbo.FacilityServiceLocation FSL ON FSL.FacilityServiceLocation_ID = PC.FacilityServiceLocation_ID
INNER JOIN dbo.FacilityIntakeSource FIS ON FIS.FacilityIntakeSource_ID = FSL.ServiceLocationIntakeSource_ID
WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd WHERE ftd.Facility_ID = FIS.Facility_ID);



SELECT 'PatientCaseCareProvider',COUNT(*)  FROM dbo.PatientCaseCareProvider TableToDelete
INNER JOIN dbo.PatientCase PC ON PC.PatientCase_ID = TableToDelete.PatientCase_ID
INNER JOIN dbo.FacilityServiceLocation FSL ON FSL.FacilityServiceLocation_ID = PC.FacilityServiceLocation_ID
INNER JOIN dbo.FacilityIntakeSource FIS ON FIS.FacilityIntakeSource_ID = FSL.ServiceLocationIntakeSource_ID
WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd WHERE ftd.Facility_ID = FIS.Facility_ID);



SELECT 'PatientCase Based off of Facility Service Location',COUNT(*)  FROM dbo.PatientCase TableToDelete
INNER JOIN dbo.FacilityServiceLocation FSL ON FSL.FacilityServiceLocation_ID = TableToDelete.FacilityServiceLocation_ID
INNER JOIN dbo.FacilityIntakeSource FIS ON FIS.FacilityIntakeSource_ID = FSL.ServiceLocationIntakeSource_ID
WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd WHERE ftd.Facility_ID = FIS.Facility_ID);



SELECT 'FacilityServiceLocation',COUNT(*)  FROM dbo.FacilityServiceLocation TableToDelete
INNER JOIN dbo.FacilityIntakeSource FIS ON FIS.FacilityIntakeSource_ID = TableToDelete.ServiceLocationIntakeSource_ID
WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd WHERE ftd.Facility_ID = FIS.Facility_ID);



SELECT 'FacilityIntakeSource',COUNT (*) FROM dbo.FacilityIntakeSource TableToDelete  WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID );
--==============================================================================
-- --  OF Facility Intake Source Route
--==============================================================================

