/****** Object:  StoredProcedure [dbo].[usp_FDP_P1T6_ResidentRoutePost_Data_Validation]    Script Date: 6/18/2019 9:30:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



IF OBJECT_ID('[dbo].[usp_FDP_P1T6_ResidentRoutePost_Data_Validation]') IS NOT NULL
BEGIN
	DROP PROCEDURE [dbo].[usp_FDP_P1T6_ResidentRoutePost_Data_Validation]
END
GO


CREATE PROCEDURE [dbo].[usp_FDP_P1T6_ResidentRoutePost_Data_Validation] 

AS
SET NOCOUNT ON;


--===============================================================
--BEGIN -- Resident Route -- Post Task
--===============================================================



SELECT 'StayCareCollection',COUNT(*) FROM dbo.StayCareCollection TableToDelete
INNER JOIN dbo.Stay S ON S.Stay_ID = TableToDelete.Stay_ID
INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;


SELECT 'StayAdmission',COUNT(*) FROM dbo.StayAdmission TableToDelete
INNER JOIN dbo.Stay S ON S.Stay_ID = TableToDelete.Stay_ID
INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;


SELECT 'Stay',COUNT(*) FROM dbo.Stay TableToDelete
INNER JOIN dbo.Resident  R ON R.Resident_ID = TableToDelete.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;

		
SELECT 'ResidentPayerSetVerification',COUNT(*) FROM dbo.ResidentPayerSetVerification TableToDelete
INNER JOIN dbo.ResidentPayerSet RPS ON RPS.ResidentPayerSet_ID = TableToDelete.ResidentPayerSet_ID
INNER JOIN dbo.Resident  R ON R.Resident_ID = RPS.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;



SELECT 'ResidentPayerSequence',COUNT(*) FROM dbo.ResidentPayerSequence TableToDelete
INNER JOIN dbo.ResidentPayerSet RPS ON RPS.ResidentPayerSet_ID = TableToDelete.ResidentPayerSet_ID
INNER JOIN dbo.Resident  R ON R.Resident_ID = RPS.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;


SELECT 'ResidentPayerSet',COUNT(*) FROM dbo.ResidentPayerSet TableToDelete
INNER JOIN dbo.Resident  R ON R.Resident_ID = TableToDelete.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;

		
SELECT 'AuthorizationLimitation',COUNT(*) FROM dbo.[AuthorizationLimitation] TableToDelete
INNER JOIN dbo.[Authorization] A ON A.Authorization_ID = TableToDelete.Authorization_ID
INNER JOIN dbo.ResidentPayer RP ON RP.ResidentPayer_ID = A.ResidentPayer_ID
INNER JOIN dbo.Resident  R ON R.Resident_ID = RP.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;


SELECT 'Authorization',COUNT(*) FROM dbo.[Authorization] TableToDelete
INNER JOIN dbo.ResidentPayer RP ON RP.ResidentPayer_ID = TableToDelete.ResidentPayer_ID
INNER JOIN dbo.Resident  R ON R.Resident_ID = RP.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;


SELECT 'ResidentPayerBenefit',COUNT(*) FROM dbo.ResidentPayerBenefit TableToDelete
INNER JOIN dbo.ResidentPayer RP ON RP.ResidentPayer_ID = TableToDelete.ResidentPayer_ID
INNER JOIN dbo.Resident  R ON R.Resident_ID = RP.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;



SELECT 'PatientEligibilityRequest',COUNT(*) FROM dbo.PatientEligibilityRequest TableToDelete
INNER JOIN dbo.ResidentPayer RP ON RP.ResidentPayer_ID = TableToDelete.ResidentPayer_ID
INNER JOIN dbo.Resident  R ON R.Resident_ID = RP.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;



SELECT 'ResidentPayerVerification',COUNT(*) FROM dbo.ResidentPayerVerification TableToDelete
INNER JOIN dbo.ResidentPayer RP ON RP.ResidentPayer_ID = TableToDelete.ResidentPayer_ID
INNER JOIN dbo.Resident  R ON R.Resident_ID = RP.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;



SELECT 'ResidentPayer',COUNT(*) FROM dbo.ResidentPayer TableToDelete
INNER JOIN dbo.Resident  R ON R.Resident_ID = TableToDelete.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;

		

SELECT 'ResidentContactVerification',COUNT(*) FROM dbo.ResidentContactVerification TableToDelete
INNER JOIN dbo.ResidentContact RC ON RC.ResidentContact_ID = TableToDelete.ResidentContact_ID
INNER JOIN dbo.Resident  R ON R.Resident_ID = RC.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;



SELECT 'ResidentContact',COUNT(*) FROM dbo.ResidentContact TableToDelete
INNER JOIN dbo.Resident  R ON R.Resident_ID = TableToDelete.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;



SELECT 'PHIAccessAudit',COUNT(*) FROM dbo.PHIAccessAudit TableToDelete
INNER JOIN dbo.Resident  R ON R.Resident_ID = TableToDelete.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;



SELECT 'ExternalStay',COUNT(*) FROM dbo.ExternalStay TableToDelete
INNER JOIN dbo.Resident  R ON R.Resident_ID = TableToDelete.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;



SELECT 'ResidentPhysicianTypeDiscipline',COUNT(*) FROM dbo.ResidentPhysicianTypeDiscipline TableToDelete
INNER JOIN dbo.ResidentPhysicianType RPT ON RPT.ResidentPhysicianType_ID = TableToDelete.ResidentPhysicianType_ID
INNER JOIN dbo.ResidentPhysician RP ON RP.ResidentPhysician_ID = RPT.ResidentPhysician_ID
INNER JOIN dbo.Resident  R ON R.Resident_ID = RP.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;



SELECT 'ResidentPhysicianType',COUNT(*) FROM dbo.ResidentPhysicianType TableToDelete
INNER JOIN dbo.ResidentPhysician RP ON RP.ResidentPhysician_ID = TableToDelete.ResidentPhysician_ID
INNER JOIN dbo.Resident  R ON R.Resident_ID = RP.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;



SELECT 'ResidentPhysician',COUNT(*) FROM dbo.ResidentPhysician TableToDelete
INNER JOIN dbo.Resident  R ON R.Resident_ID = TableToDelete.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;



SELECT 'ResidentAppointment',COUNT(*) FROM dbo.ResidentAppointment TableToDelete
INNER JOIN dbo.Resident  R ON R.Resident_ID = TableToDelete.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;



SELECT 'TherapyCapUsed',COUNT(*) FROM dbo.TherapyCapUsed TableToDelete
INNER JOIN dbo.Resident  R ON R.Resident_ID = TableToDelete.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;



SELECT 'ChangeLogDetail',COUNT(*) FROM AuditLogs.ChangeLogDetail TableToDelete
INNER JOIN AuditLogs.ChangeLogBatch LB ON LB.ChangeLogBatch_ID = TableToDelete.ChangeLogBatch_ID
INNER JOIN dbo.Resident  R ON R.Resident_ID = LB.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;



SELECT 'ChangeLogBatch',COUNT(*) FROM AuditLogs.ChangeLogBatch TableToDelete
INNER JOIN dbo.Resident  R ON R.Resident_ID = TableToDelete.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;



SELECT 'SectionGGItemCollection',COUNT(*) FROM dbo.SectionGGItemCollection TableToDelete
INNER JOIN dbo.SectionGGAssessment S ON S.SectionGGAssessment_ID = TableToDelete.SectionGGAssessment_ID
INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;

		

SELECT 'SectionGGAssessment',COUNT(*) FROM dbo.SectionGGAssessment TableToDelete
INNER JOIN dbo.Resident  R ON R.Resident_ID = TableToDelete.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;

		

SELECT 'ClaimDiscipline',COUNT(*) FROM ClaimManagement.ClaimDiscipline TableToDelete
INNER JOIN ClaimManagement.Claim CD ON CD.Claim_ID = TableToDelete.Claim_ID
INNER JOIN dbo.Resident  R ON R.Resident_ID = CD.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;



SELECT 'ClaimDocument',COUNT(*) FROM ClaimManagement.ClaimDocument TableToDelete
INNER JOIN ClaimManagement.Claim CD ON CD.Claim_ID = TableToDelete.Claim_ID
INNER JOIN dbo.Resident  R ON R.Resident_ID = CD.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;



SELECT 'Claim',COUNT(*) FROM ClaimManagement.Claim TableToDelete
INNER JOIN dbo.Resident  R ON R.Resident_ID = TableToDelete.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;



SELECT 'DataConsumer_Resident',COUNT(*) FROM Interface.DataConsumer_Resident TableToDelete
INNER JOIN dbo.Resident R ON R.Resident_ID = TableToDelete.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;



SELECT 'ResidentInfo',COUNT(*) FROM dbo.ResidentInfo TableToDelete
INNER JOIN dbo.Resident R ON R.Resident_ID = TableToDelete.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;

		

SELECT 'PatientReferralStatusNote',COUNT(*) FROM dbo.PatientReferralStatusNote TableToDelete
INNER JOIN dbo.PatientReferralStatus PRS ON PRS.PatientReferralStatus_ID = TableToDelete.PatientReferralStatus_ID
INNER JOIN dbo.PatientReferral PR ON PR.PatientReferral_ID = PRS.PatientReferral_ID
INNER JOIN dbo.Resident R ON R.Resident_ID = PR.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;



SELECT 'VisitOrder',COUNT(*) FROM Clinical.VisitOrder TableToDelete
INNER JOIN Clinical.PhysicianApproval PA ON PA.PhysicianApproval_ID = TableToDelete.PhysicianApproval_ID
INNER JOIN dbo.PatientReferral PR ON PR.PatientReferral_ID = PA.PatientReferral_ID
INNER JOIN dbo.Resident R ON R.Resident_ID = PR.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;



SELECT 'PhysicianApproval',COUNT(*) FROM Clinical.PhysicianApproval TableToDelete
INNER JOIN dbo.PatientReferral PR ON PR.PatientReferral_ID = TableToDelete.PatientReferral_ID
INNER JOIN dbo.Resident R ON R.Resident_ID = PR.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;

		

SELECT 'PHIPatientReferralAudit',COUNT(*) FROM dbo.PHIPatientReferralAudit TableToDelete
INNER JOIN dbo.PatientReferral PR ON PR.PatientReferral_ID = TableToDelete.PatientReferral_ID
INNER JOIN dbo.Resident R ON R.Resident_ID = PR.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;



SELECT 'PatientReferralStatus',COUNT(*) FROM dbo.PatientReferralStatus TableToDelete
INNER JOIN dbo.PatientReferral PR ON PR.PatientReferral_ID = TableToDelete.PatientReferral_ID
INNER JOIN dbo.Resident R ON R.Resident_ID = PR.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;



SELECT 'PhysicianOrder',COUNT(*) FROM Clinical.PhysicianOrder TableToDelete
INNER JOIN Clinical.PhysicianOrderHeader POH ON POH.PhysicianOrderHeader_ID = TableToDelete.PhysicianOrderHeader_ID
INNER JOIN dbo.PatientReferral PR ON PR.PatientReferral_ID = POH.SourcePatientReferral_ID
INNER JOIN dbo.Resident R ON R.Resident_ID = PR.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;



SELECT 'PhysicianOrderAttachment',COUNT(*) FROM Clinical.PhysicianOrderAttachment TableToDelete
INNER JOIN Clinical.PhysicianOrderHeader POH ON POH.PhysicianOrderHeader_ID = TableToDelete.PhysicianOrderHeader_ID
INNER JOIN dbo.PatientReferral PR ON PR.PatientReferral_ID = POH.SourcePatientReferral_ID
INNER JOIN dbo.Resident R ON R.Resident_ID = PR.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;



SELECT 'PhysicianOrderHeader',COUNT(*) FROM Clinical.PhysicianOrderHeader TableToDelete
INNER JOIN dbo.PatientReferral PR ON PR.PatientReferral_ID = TableToDelete.SourcePatientReferral_ID
INNER JOIN dbo.Resident R ON R.Resident_ID = PR.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;



SELECT 'PatientReferral',COUNT(*) FROM dbo.PatientReferral TableToDelete
INNER JOIN dbo.Resident R ON R.Resident_ID = TableToDelete.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;



SELECT 'ResidentMedication',COUNT(*) FROM dbo.ResidentMedication TableToDelete
INNER JOIN dbo.Resident R ON R.Resident_ID = TableToDelete.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;



SELECT 'ResidentSearchFilter',COUNT(*) FROM dbo.ResidentSearchFilter TableToDelete
INNER JOIN dbo.Resident R ON R.Resident_ID = TableToDelete.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;



SELECT 'AppointmentReminderQueue',COUNT(*) FROM Scheduling.AppointmentReminderQueue TableToDelete
INNER JOIN dbo.Resident R ON R.Resident_ID = TableToDelete.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;



SELECT 'ResidentReminder',COUNT(*) FROM dbo.ResidentReminder TableToDelete
INNER JOIN dbo.Resident R ON R.Resident_ID = TableToDelete.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;



SELECT 'ResidentDiagnosis',COUNT(*) FROM dbo.ResidentDiagnosis TableToDelete
INNER JOIN dbo.ResidentDiagnosisSet RDS ON RDS.ResidentDiagnosisSet_ID = TableToDelete.ResidentDiagnosisSet_ID
INNER JOIN dbo.Resident R ON R.Resident_ID = RDS.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;



SELECT 'ResidentDiagnosisSet',COUNT(*) FROM dbo.ResidentDiagnosisSet TableToDelete
INNER JOIN dbo.Resident R ON R.Resident_ID = TableToDelete.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;



SELECT 'ExportMessageAdditionalInfo',COUNT(*) FROM Interface.ExportMessageAdditionalInfo TableToDelete
INNER JOIN dbo.Resident R ON R.Resident_ID = TableToDelete.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;



SELECT 'LeaveOfAbsence',COUNT(*) FROM dbo.LeaveOfAbsence TableToDelete
INNER JOIN dbo.Resident R ON R.Resident_ID = TableToDelete.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;



SELECT 'MDSAssessment',COUNT(*) FROM MDSData.MDSAssessment TableToDelete
INNER JOIN MDSData.MDS MDS ON MDS.MDS_ID = TableToDelete.MDS_ID
INNER JOIN dbo.Resident R ON R.Resident_ID = MDS.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;



SELECT 'MDSState',COUNT(*) FROM MDSData.MDSState TableToDelete
INNER JOIN MDSData.MDS MDS ON MDS.MDS_ID = TableToDelete.MDS_ID
INNER JOIN dbo.Resident R ON R.Resident_ID = MDS.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;



SELECT 'MDSScore',COUNT(*) FROM MDSData.MDSScore TableToDelete
INNER JOIN MDSData.MDS MDS ON MDS.MDS_ID = TableToDelete.MDS_ID
INNER JOIN dbo.Resident R ON R.Resident_ID = MDS.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;

		

SELECT 'MDSIdentification',COUNT(*) FROM MDSData.MDSIdentification TableToDelete
INNER JOIN MDSData.MDS MDS ON MDS.MDS_ID = TableToDelete.MDS_ID
INNER JOIN dbo.Resident R ON R.Resident_ID = MDS.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;

		

SELECT 'Accident',COUNT(*) FROM dbo.Accident TableToDelete
INNER JOIN dbo.Resident R ON R.Resident_ID = TableToDelete.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;



SELECT 'ResidentClaimConditionCode',COUNT(*) FROM dbo.ResidentClaimConditionCode TableToDelete
INNER JOIN dbo.Resident R ON R.Resident_ID = TableToDelete.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;



SELECT 'ResidentTxDiagData',COUNT(*) FROM Interface.ResidentTxDiagData TableToDelete
INNER JOIN dbo.Resident R ON R.Resident_ID = TableToDelete.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;

	

SELECT 'MDS',COUNT(*) FROM MDSData.MDS TableToDelete
INNER JOIN dbo.Resident R ON R.Resident_ID = TableToDelete.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;



SELECT 'ResidentCreationSource',COUNT(*) FROM dbo.ResidentCreationSource TableToDelete
INNER JOIN dbo.Resident R ON R.Resident_ID = TableToDelete.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;



SELECT 'ResidentScheduleTemplateItem',COUNT(*) FROM Scheduling.ResidentScheduleTemplateItem TableToDelete
INNER JOIN dbo.Resident R ON R.Resident_ID = TableToDelete.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;




SELECT 'PatientPayment',COUNT(*) FROM Financial.PatientPayment TableToDelete
INNER JOIN dbo.Resident R ON R.Resident_ID = TableToDelete.Resident_ID
INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;



--===============================================================
-- -- Resident Route --  of Post Task
--===============================================================



