/****** Object:  StoredProcedure [dbo].[usp_FDP_P2T5_FacilityPostRoute]    Script Date: 6/18/2019 9:32:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


IF OBJECT_ID('[dbo].[usp_FDP_P2T5_FacilityPostRoute]') IS NOT NULL
BEGIN
	DROP PROCEDURE [dbo].[usp_FDP_P2T5_FacilityPostRoute]
END
GO


CREATE PROCEDURE [dbo].[usp_FDP_P2T5_FacilityPostRoute]

AS

SET NOCOUNT ON;
DECLARE @RowCount int = 1;

SET @RowCount=1; 
WHILE @RowCount >0 
BEGIN 
	BEGIN TRANSACTION  
		DELETE TOP (1000) TableToDelete 
		FROM dbo.PatientReferral TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID);
	SET @RowCount = @@RowCount; COMMIT;
END;
--===================================================================================================

SET @RowCount=1; 
WHILE @RowCount >0 
BEGIN 
	BEGIN TRANSACTION  
		DELETE TOP (1000) TableToDelete 
		FROM dbo.CloseoutHistory TableToDelete 
		WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID);
	SET @RowCount = @@RowCount; COMMIT;
END;

SET @RowCount=1; 
WHILE @RowCount >0 
BEGIN 
	BEGIN TRANSACTION  
		DELETE TOP (1000) TableToDelete 
		FROM dbo.CloseoutCache TableToDelete 
		WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID);
	SET @RowCount = @@RowCount; COMMIT;
END;

SET @RowCount=1; 
WHILE @RowCount >0 
BEGIN 
	BEGIN TRANSACTION  
		DELETE TOP (1000) TableToDelete 
		FROM dbo.UserAuthenticationAudit TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID);
	SET @RowCount = @@RowCount; COMMIT;
END;


SET @RowCount=1; 
WHILE @RowCount >0 
BEGIN 
	BEGIN TRANSACTION  
		DELETE TOP (1000) TableToDelete 
		FROM dbo.Labor TableToDelete 
		WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID);
	SET @RowCount = @@RowCount; COMMIT;
END;


SET @RowCount=1; 
WHILE @RowCount >0 
BEGIN 
	BEGIN TRANSACTION 
		DELETE TOP (1000) TableToDelete 
		FROM dbo.TimeAndAttendance TableToDelete
		WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID);
	SET @RowCount = @@RowCount; COMMIT;
END;

BEGIN TRANSACTION
DELETE TableToDelete FROM dbo.LaborBonus TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID);
COMMIT;

SET @RowCount=1; 
WHILE @RowCount >0 
BEGIN 
	BEGIN TRANSACTION
		DELETE TOP (1000) TableToDelete 
		FROM dbo.Schedule TableToDelete 
		WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID);
	SET @RowCount = @@RowCount; COMMIT;
END;

BEGIN TRANSACTION
DELETE TableToDelete FROM dbo.FormDefinitionFacility TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID);
COMMIT;

BEGIN TRANSACTION
DELETE TableToDelete FROM dbo.NonCareCharge TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID);
COMMIT;