/****** Object:  StoredProcedure [dbo].[usp_FDP_P2T1_FacilityPreRoute]    Script Date: 6/18/2019 9:30:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



IF OBJECT_ID('[dbo].[usp_FDP_P2T1_FacilityPreRoute]') IS NOT NULL
BEGIN
	DROP PROCEDURE [dbo].[usp_FDP_P2T1_FacilityPreRoute]
END
GO


CREATE PROCEDURE [dbo].[usp_FDP_P2T1_FacilityPreRoute] 

AS
SET NOCOUNT ON;

--===============================================================
----BEGIN -- Facility Pre Route 
--===============================================================
DECLARE @msg VARCHAR(MAX);
DECLARE @RowCount int = 1;

--BEGIN TRANSACTION 

--==============================================================================



	SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION  DELETE TOP (1000) TableToDelete FROM dbo.ResidentPayerSequence TableToDelete 
	INNER JOIN dbo.ResidentPayer RP ON RP.ResidentPayer_ID = TableToDelete.ResidentPayer_ID
	INNER JOIN dbo.ResidentContact RC ON RC.ResidentContact_ID = RP.SubscriberResidentContact_ID
	INNER JOIN dbo.Contact C ON C.Contact_ID = RC.Contact_ID
	WHERE EXISTS  (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = c.Facility_ID  );
	SET @RowCount = @@RowCount; COMMIT;
	END

	SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION  DELETE TOP (1000) TableToDelete FROM dbo.ResidentPayerBenefit TableToDelete 
	INNER JOIN dbo.ResidentPayer RP ON RP.ResidentPayer_ID = TableToDelete.ResidentPayer_ID
	INNER JOIN dbo.ResidentContact RC ON RC.ResidentContact_ID = RP.SubscriberResidentContact_ID
	INNER JOIN dbo.Contact C ON C.Contact_ID = RC.Contact_ID
	WHERE EXISTS  (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = c.Facility_ID  );
	SET @RowCount = @@RowCount; COMMIT;
	END

	SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION  DELETE TOP (1000) TableToDelete FROM dbo.ResidentPayer TableToDelete 
	INNER JOIN dbo.ResidentContact RC ON RC.ResidentContact_ID = TableToDelete.SubscriberResidentContact_ID
	INNER JOIN dbo.Contact C ON C.Contact_ID = RC.Contact_ID
	WHERE EXISTS  (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = c.Facility_ID );
	SET @RowCount = @@RowCount; COMMIT;
	END

	SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION  DELETE TOP (1000) TableToDelete FROM dbo.ResidentContact TableToDelete 
	INNER JOIN dbo.Contact C ON C.Contact_ID = TableToDelete.Contact_ID
	WHERE EXISTS  (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = c.Facility_ID );
	SET @RowCount = @@RowCount; COMMIT;
	END
--==============================================================================

--==============================================================================
	SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION  DELETE TOP (1000) TableToDelete FROM dbo.FacilityCensusValue TableToDelete
	INNER JOIN dbo.FacilityCensus FC ON FC.FacilityCensus_ID = TableToDelete.FacilityCensus_ID
	WHERE  EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = fc.Facility_ID );
	SET @RowCount = @@RowCount; COMMIT;
	END

	BEGIN TRANSACTION
	DELETE fc FROM dbo.FacilityCensus fc WHERE EXISTS  (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = fc.Facility_ID );
	COMMIT;