/****** Object:  StoredProcedure [dbo].[usp_FDP_P2T3_FacilityPostRoute_Data_Validation]    Script Date: 6/18/2019 9:31:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


IF OBJECT_ID('[dbo].[usp_FDP_P2T3_FacilityPostRoute_Data_Validation]') IS NOT NULL
BEGIN
	DROP PROCEDURE [dbo].[usp_FDP_P2T3_FacilityPostRoute_Data_Validation]
END
GO


CREATE PROCEDURE [dbo].[usp_FDP_P2T3_FacilityPostRoute_Data_Validation] 

AS

SET NOCOUNT ON;

--==============================================================================
--BEGIN -- Facility Post Route
--==============================================================================


--===================================================================================================
	SELECT 'FacilityLayoutBed',COUNT(*)  FROM dbo.FacilityLayoutBed FLB 
	INNER JOIN dbo.FacilityLayout FL ON FL.FacilityLayout_ID = FLB.FacilityLayout_ID
	WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = FL.Facility_ID);

	SELECT 'FacilityLayout',COUNT(*)  FROM dbo.FacilityLayout TableToDelete  WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID);
--===================================================================================================


--===================================================================================================
	 SELECT 'PBJEmployment',COUNT(*) FROM Interface.PBJEmployment  TableToDelete
	INNER JOIN Interface.DataConsumer_PersonFacility IPF ON IPF.DataConsumer_PersonFacility_ID = TableToDelete.DataConsumer_PersonFacility_ID
	WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = IPF.Facility_ID);
	
	SELECT 'DataConsumer_PersonFacility',COUNT(*)  FROM Interface.DataConsumer_PersonFacility TableToDelete  WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID);
--===================================================================================================


--===================================================================================================
	SELECT 'Bed',COUNT(*)  FROM dbo.Bed B
	INNER JOIN dbo.ROOM R ON R.Room_ID = B.Room_ID
	INNER JOIN dbo.Wing W ON W.Wing_ID = R.Wing_ID
	WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = w.Facility_ID);

	SELECT 'ROOM',COUNT(*)  FROM dbo.ROOM R
	INNER JOIN dbo.Wing W ON W.Wing_ID = R.Wing_ID
	WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = w.Facility_ID);

	SELECT 'Wing',COUNT(*)  FROM dbo.Wing TableToDelete  WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID);
--===================================================================================================


--===================================================================================================
	 SELECT 'ScheduleLayoutAssignment',COUNT(*) FROM dbo.ScheduleLayoutAssignment TableToDelete
	INNER JOIN dbo.ScheduleLayout SL ON SL.ScheduleLayout_ID = TableToDelete.ScheduleLayout_ID
	WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = SL.Facility_ID);
	
	 SELECT 'StaffScheduleTemplateItem',COUNT(*) FROM Scheduling.StaffScheduleTemplateItem  TableToDelete
	INNER JOIN Scheduling.StaffScheduleTemplate ST ON ST.StaffScheduleTemplate_ID = TableToDelete.StaffScheduleTemplate_ID
	WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = ST.Facility_ID);


	SELECT 'StaffScheduleTemplate',COUNT(*)  FROM Scheduling.StaffScheduleTemplate TableToDelete  WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID);
--===================================================================================================

-- Column is Nullable so instead of deleting , set the value to NULL 
--UPDATE dbo.Person
--SET PrimaryFacility_ID = NULL
--WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID);

--===================================================================================================
 SELECT 'StaffScheduleItem',COUNT(*)  FROM Scheduling.StaffScheduleItem TableToDelete
INNER JOIN Scheduling.StaffSchedule SL ON SL.StaffSchedule_ID = TableToDelete.StaffSchedule_ID
WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = SL.Facility_ID);


SELECT 'StaffSchedule',COUNT(*)  FROM Scheduling.StaffSchedule TableToDelete  WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID);
--===================================================================================================


--===================================================================================================
	 SELECT 'ScheduleLayoutAssignment',COUNT(*) FROM dbo.ScheduleLayoutAssignment TableToDelete
	INNER JOIN dbo.ScheduleLayout SL ON SL.ScheduleLayout_ID = TableToDelete.ScheduleLayout_ID
	WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = SL.Facility_ID);
	
	

	 SELECT 'StaffScheduleTemplateItem',COUNT(*) FROM Scheduling.StaffScheduleTemplateItem  TableToDelete
	INNER JOIN Scheduling.StaffScheduleTemplate ST ON ST.StaffScheduleTemplate_ID = TableToDelete.StaffScheduleTemplate_ID
	WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = ST.Facility_ID);
	
	

	SELECT 'StaffScheduleTemplate',COUNT(*)  FROM Scheduling.StaffScheduleTemplate TableToDelete  WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID);
--===================================================================================================

--===================================================================================================
	 SELECT 'ExerciseLibraryFacility',COUNT(*) FROM Flowsheets.ExerciseLibraryFacility TableToDelete
	INNER JOIN Flowsheets.ExerciseLibrary EL ON EL.ExerciseLibrary_ID = TableToDelete.ExerciseLibrary_ID
	WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = EL.Facility_ID);
	
	

	 SELECT 'ExerciseLibraryFlowsheet',COUNT(*) FROM Flowsheets.ExerciseLibraryFlowsheet TableToDelete
	INNER JOIN Flowsheets.ExerciseLibrary EL ON EL.ExerciseLibrary_ID = TableToDelete.ExerciseLibrary_ID
	WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = EL.Facility_ID);
	
	

	 SELECT 'ExerciseLibraryActivityDefinition',COUNT(*) FROM Flowsheets.ExerciseLibraryActivityDefinition TableToDelete
	INNER JOIN Flowsheets.ExerciseLibrary EL ON EL.ExerciseLibrary_ID = TableToDelete.ExerciseLibrary_ID
	WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = EL.Facility_ID);
	
	

	SELECT 'ExerciseLibrary',COUNT(*)  FROM Flowsheets.ExerciseLibrary TableToDelete  WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID);
--===================================================================================================

--===================================================================================================
	 SELECT 'GroupTemplateService',COUNT(*) FROM Scheduling.GroupTemplateService TableToDelete
	INNER JOIN Scheduling.GroupTemplate GT ON GT.GroupTemplate_ID = TableToDelete.GroupTemplate_ID
	WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = GT.Facility_ID);
	
	

	 SELECT 'GroupTemplateICD9Category',COUNT(*) FROM Scheduling.GroupTemplateICD9Category TableToDelete
	INNER JOIN Scheduling.GroupTemplate GT ON GT.GroupTemplate_ID = TableToDelete.GroupTemplate_ID
	WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = GT.Facility_ID);
	
	

	 SELECT 'GroupTemplateSchedule',COUNT(*) FROM Scheduling.GroupTemplateSchedule TableToDelete
	INNER JOIN Scheduling.GroupTemplate GT ON GT.GroupTemplate_ID = TableToDelete.GroupTemplate_ID
	WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = GT.Facility_ID);
	
	

	 SELECT 'GroupContainer',COUNT(*) FROM dbo.GroupContainer TableToDelete
	INNER JOIN Scheduling.GroupTemplate GT ON GT.GroupTemplate_ID = TableToDelete.GroupTemplate_ID
	WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = GT.Facility_ID);
	
	

	SELECT 'GroupTemplate',COUNT(*)  FROM Scheduling.GroupTemplate TableToDelete  WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID);
--===================================================================================================

--===================================================================================================
	 SELECT 'PatientReferralStatusNote',COUNT(*) FROM dbo.PatientReferralStatusNote TableToDelete
	INNER JOIN dbo.PatientReferralStatus PRN ON PRN.PatientReferralStatus_ID = TableToDelete.PatientReferralStatus_ID
	INNER JOIN dbo.PatientReferral PR ON PR.PatientReferral_ID = PRN.PatientReferral_ID
	WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = PR.Facility_ID);
	
	

	 SELECT 'PatientReferralStatus',COUNT(*) FROM dbo.PatientReferralStatus TableToDelete
	INNER JOIN dbo.PatientReferral PR ON PR.PatientReferral_ID = TableToDelete.PatientReferral_ID
	WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = PR.Facility_ID);
	
	

	 SELECT 'PHIPatientReferralAudit',COUNT(*) FROM dbo.PHIPatientReferralAudit TableToDelete
	INNER JOIN dbo.PatientReferral PR ON PR.PatientReferral_ID = TableToDelete.PatientReferral_ID
	WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = PR.Facility_ID);
	
	

	 SELECT 'VisitOrder',COUNT(*) FROM Clinical.VisitOrder TableToDelete
	INNER JOIN Clinical.PhysicianApproval PA ON PA.PhysicianApproval_ID = TableToDelete.PhysicianApproval_ID
	INNER JOIN dbo.PatientReferral PR ON PR.PatientReferral_ID = PA.PatientReferral_ID
	WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = PR.Facility_ID);
	
	

	 SELECT 'PhysicianApproval',COUNT(*) FROM Clinical.PhysicianApproval TableToDelete
	INNER JOIN dbo.PatientReferral PR ON PR.PatientReferral_ID = TableToDelete.PatientReferral_ID
	WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = PR.Facility_ID);
	
	

	 SELECT 'PhysicianOrder',COUNT(*) FROM Clinical.PhysicianOrder TableToDelete
	INNER JOIN Clinical.PhysicianOrderHeader POH ON POH.PhysicianOrderHeader_ID = TableToDelete.PhysicianOrderHeader_ID
	INNER JOIN dbo.PatientReferral PR ON PR.PatientReferral_ID = POH.SourcePatientReferral_ID
	WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = PR.Facility_ID);
	
	

	 SELECT 'PhysicianOrderHeader',COUNT(*) FROM Clinical.PhysicianOrderHeader TableToDelete
	INNER JOIN dbo.PatientReferral PR ON PR.PatientReferral_ID = TableToDelete.SourcePatientReferral_ID
	WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = PR.Facility_ID);
	
	

	SELECT 'PatientReferral',COUNT(*)  FROM dbo.PatientReferral TableToDelete  WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID);
--===================================================================================================

SELECT 'CloseoutHistory',COUNT(*)  FROM dbo.CloseoutHistory TableToDelete  WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID);

SELECT 'CloseoutCache',COUNT(*)  FROM dbo.CloseoutCache TableToDelete  WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID);

SELECT 'UserAuthenticationAudit',COUNT(*)  FROM dbo.UserAuthenticationAudit TableToDelete  WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID);

SELECT 'Labor',COUNT(*)  FROM dbo.Labor TableToDelete  WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID);

SELECT 'TimeAndAttendance',COUNT(*)  FROM dbo.TimeAndAttendance TableToDelete  WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID);

SELECT 'LaborBonus',COUNT(*)  FROM dbo.LaborBonus TableToDelete  WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID);

SELECT 'Schedule',COUNT(*)  FROM dbo.Schedule TableToDelete  WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID);

SELECT 'FormDefinitionFacility',COUNT(*)  FROM dbo.FormDefinitionFacility TableToDelete  WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID);

SELECT 'NonCareCharge',COUNT(*)  FROM dbo.NonCareCharge TableToDelete  WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID);