/****** Object:  StoredProcedure [dbo].[usp_FDP_P1T6_ResidentRoutePost]    Script Date: 6/18/2019 9:30:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



IF OBJECT_ID('[dbo].[usp_FDP_P1T6_ResidentRoutePost]') IS NOT NULL
BEGIN
	DROP PROCEDURE [dbo].[usp_FDP_P1T6_ResidentRoutePost]
END
GO


CREATE PROCEDURE [dbo].[usp_FDP_P1T6_ResidentRoutePost] 

AS
SET NOCOUNT ON;


--===============================================================
--BEGIN -- Resident Route -- Post Task
--===============================================================
DECLARE @msg VARCHAR(MAX);
DECLARE @RowCount int = 1;

SET @msg = CONVERT(VARCHAR(20),GETDATE(),114)+' Deleting Stay Record(s) Associated with Resident record(s).';
RAISERROR (@msg, 0, 1) WITH NOWAIT;


DECLARE FacToDelete CURSOR 
LOCAL FORWARD_ONLY READ_ONLY
FOR
SELECT Facility_ID FROM DBA.ETL.FacilityToDelete 
	
DECLARE @Facility_ID AS INTEGER;

OPEN FacToDelete
FETCH FacToDelete INTO @Facility_ID

WHILE(@@FETCH_STATUS = 0)
BEGIN
	SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.StayCareCollection TableToDelete
	INNER JOIN dbo.Stay S ON S.Stay_ID = TableToDelete.Stay_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.StayAdmission TableToDelete
	INNER JOIN dbo.Stay S ON S.Stay_ID = TableToDelete.Stay_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.Stay TableToDelete
	INNER JOIN dbo.Resident  R ON R.Resident_ID = TableToDelete.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END		

	SET @msg = CONVERT(VARCHAR(20),GETDATE(),114)+' Successfully Deleted Stay Record(s) Associated with Resident record(s).';
	RAISERROR (@msg, 0, 1) WITH NOWAIT;

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.ResidentPayerSetVerification TableToDelete
	INNER JOIN dbo.ResidentPayerSet RPS ON RPS.ResidentPayerSet_ID = TableToDelete.ResidentPayerSet_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = RPS.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.ResidentPayerSequence TableToDelete
	INNER JOIN dbo.ResidentPayerSet RPS ON RPS.ResidentPayerSet_ID = TableToDelete.ResidentPayerSet_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = RPS.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.ResidentPayerSet TableToDelete
	INNER JOIN dbo.Resident  R ON R.Resident_ID = TableToDelete.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END		

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.[AuthorizationLimitation] TableToDelete
	INNER JOIN dbo.[Authorization] A ON A.Authorization_ID = TableToDelete.Authorization_ID
	INNER JOIN dbo.ResidentPayer RP ON RP.ResidentPayer_ID = A.ResidentPayer_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = RP.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.[Authorization] TableToDelete
	INNER JOIN dbo.ResidentPayer RP ON RP.ResidentPayer_ID = TableToDelete.ResidentPayer_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = RP.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.ResidentPayerBenefit TableToDelete
	INNER JOIN dbo.ResidentPayer RP ON RP.ResidentPayer_ID = TableToDelete.ResidentPayer_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = RP.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.PatientEligibilityRequest TableToDelete
	INNER JOIN dbo.ResidentPayer RP ON RP.ResidentPayer_ID = TableToDelete.ResidentPayer_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = RP.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.ResidentPayerVerification TableToDelete
	INNER JOIN dbo.ResidentPayer RP ON RP.ResidentPayer_ID = TableToDelete.ResidentPayer_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = RP.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.ResidentPayer TableToDelete
	INNER JOIN dbo.Resident  R ON R.Resident_ID = TableToDelete.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END		

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.ResidentContactVerification TableToDelete
	INNER JOIN dbo.ResidentContact RC ON RC.ResidentContact_ID = TableToDelete.ResidentContact_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = RC.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.ResidentContact TableToDelete
	INNER JOIN dbo.Resident  R ON R.Resident_ID = TableToDelete.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.PHIAccessAudit TableToDelete
	INNER JOIN dbo.Resident  R ON R.Resident_ID = TableToDelete.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.ExternalStay TableToDelete
	INNER JOIN dbo.Resident  R ON R.Resident_ID = TableToDelete.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.ResidentPhysicianTypeDiscipline TableToDelete
	INNER JOIN dbo.ResidentPhysicianType RPT ON RPT.ResidentPhysicianType_ID = TableToDelete.ResidentPhysicianType_ID
	INNER JOIN dbo.ResidentPhysician RP ON RP.ResidentPhysician_ID = RPT.ResidentPhysician_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = RP.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.ResidentPhysicianType TableToDelete
	INNER JOIN dbo.ResidentPhysician RP ON RP.ResidentPhysician_ID = TableToDelete.ResidentPhysician_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = RP.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.ResidentPhysician TableToDelete
	INNER JOIN dbo.Resident  R ON R.Resident_ID = TableToDelete.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.ResidentAppointment TableToDelete
	INNER JOIN dbo.Resident  R ON R.Resident_ID = TableToDelete.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.TherapyCapUsed TableToDelete
	INNER JOIN dbo.Resident  R ON R.Resident_ID = TableToDelete.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM AuditLogs.ChangeLogDetail TableToDelete
	INNER JOIN AuditLogs.ChangeLogBatch LB ON LB.ChangeLogBatch_ID = TableToDelete.ChangeLogBatch_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = LB.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM AuditLogs.ChangeLogBatch TableToDelete
	INNER JOIN dbo.Resident  R ON R.Resident_ID = TableToDelete.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.SectionGGItemCollection TableToDelete
	INNER JOIN dbo.SectionGGAssessment S ON S.SectionGGAssessment_ID = TableToDelete.SectionGGAssessment_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END		

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.SectionGGAssessment TableToDelete
	INNER JOIN dbo.Resident  R ON R.Resident_ID = TableToDelete.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END		

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM ClaimManagement.ClaimDiscipline TableToDelete
	INNER JOIN ClaimManagement.Claim CD ON CD.Claim_ID = TableToDelete.Claim_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = CD.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM ClaimManagement.ClaimDocument TableToDelete
	INNER JOIN ClaimManagement.Claim CD ON CD.Claim_ID = TableToDelete.Claim_ID
	INNER JOIN dbo.Resident  R ON R.Resident_ID = CD.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM ClaimManagement.Claim TableToDelete
	INNER JOIN dbo.Resident  R ON R.Resident_ID = TableToDelete.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM Interface.DataConsumer_Resident TableToDelete
	INNER JOIN dbo.Resident R ON R.Resident_ID = TableToDelete.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.ResidentInfo TableToDelete
	INNER JOIN dbo.Resident R ON R.Resident_ID = TableToDelete.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END		

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.PatientReferralStatusNote TableToDelete
	INNER JOIN dbo.PatientReferralStatus PRS ON PRS.PatientReferralStatus_ID = TableToDelete.PatientReferralStatus_ID
	INNER JOIN dbo.PatientReferral PR ON PR.PatientReferral_ID = PRS.PatientReferral_ID
	INNER JOIN dbo.Resident R ON R.Resident_ID = PR.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM Clinical.VisitOrder TableToDelete
	INNER JOIN Clinical.PhysicianApproval PA ON PA.PhysicianApproval_ID = TableToDelete.PhysicianApproval_ID
	INNER JOIN dbo.PatientReferral PR ON PR.PatientReferral_ID = PA.PatientReferral_ID
	INNER JOIN dbo.Resident R ON R.Resident_ID = PR.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM Clinical.PhysicianApproval TableToDelete
	INNER JOIN dbo.PatientReferral PR ON PR.PatientReferral_ID = TableToDelete.PatientReferral_ID
	INNER JOIN dbo.Resident R ON R.Resident_ID = PR.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END		

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.PHIPatientReferralAudit TableToDelete
	INNER JOIN dbo.PatientReferral PR ON PR.PatientReferral_ID = TableToDelete.PatientReferral_ID
	INNER JOIN dbo.Resident R ON R.Resident_ID = PR.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.PatientReferralStatus TableToDelete
	INNER JOIN dbo.PatientReferral PR ON PR.PatientReferral_ID = TableToDelete.PatientReferral_ID
	INNER JOIN dbo.Resident R ON R.Resident_ID = PR.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM Clinical.PhysicianOrder TableToDelete
	INNER JOIN Clinical.PhysicianOrderHeader POH ON POH.PhysicianOrderHeader_ID = TableToDelete.PhysicianOrderHeader_ID
	INNER JOIN dbo.PatientReferral PR ON PR.PatientReferral_ID = POH.SourcePatientReferral_ID
	INNER JOIN dbo.Resident R ON R.Resident_ID = PR.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM Clinical.PhysicianOrderAttachment TableToDelete
	INNER JOIN Clinical.PhysicianOrderHeader POH ON POH.PhysicianOrderHeader_ID = TableToDelete.PhysicianOrderHeader_ID
	INNER JOIN dbo.PatientReferral PR ON PR.PatientReferral_ID = POH.SourcePatientReferral_ID
	INNER JOIN dbo.Resident R ON R.Resident_ID = PR.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM Clinical.PhysicianOrderHeader TableToDelete
	INNER JOIN dbo.PatientReferral PR ON PR.PatientReferral_ID = TableToDelete.SourcePatientReferral_ID
	INNER JOIN dbo.Resident R ON R.Resident_ID = PR.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.PatientReferral TableToDelete
	INNER JOIN dbo.Resident R ON R.Resident_ID = TableToDelete.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.ResidentMedication TableToDelete
	INNER JOIN dbo.Resident R ON R.Resident_ID = TableToDelete.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.ResidentSearchFilter TableToDelete
	INNER JOIN dbo.Resident R ON R.Resident_ID = TableToDelete.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM Scheduling.AppointmentReminderQueue TableToDelete
	INNER JOIN dbo.Resident R ON R.Resident_ID = TableToDelete.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.ResidentReminder TableToDelete
	INNER JOIN dbo.Resident R ON R.Resident_ID = TableToDelete.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.ResidentDiagnosis TableToDelete
	INNER JOIN dbo.ResidentDiagnosisSet RDS ON RDS.ResidentDiagnosisSet_ID = TableToDelete.ResidentDiagnosisSet_ID
	INNER JOIN dbo.Resident R ON R.Resident_ID = RDS.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.ResidentDiagnosisSet TableToDelete
	INNER JOIN dbo.Resident R ON R.Resident_ID = TableToDelete.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM Interface.ExportMessageAdditionalInfo TableToDelete
	INNER JOIN dbo.Resident R ON R.Resident_ID = TableToDelete.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.LeaveOfAbsence TableToDelete
	INNER JOIN dbo.Resident R ON R.Resident_ID = TableToDelete.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM MDSData.MDSAssessment TableToDelete
	INNER JOIN MDSData.MDS MDS ON MDS.MDS_ID = TableToDelete.MDS_ID
	INNER JOIN dbo.Resident R ON R.Resident_ID = MDS.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM MDSData.MDSState TableToDelete
	INNER JOIN MDSData.MDS MDS ON MDS.MDS_ID = TableToDelete.MDS_ID
	INNER JOIN dbo.Resident R ON R.Resident_ID = MDS.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM MDSData.MDSScore TableToDelete
	INNER JOIN MDSData.MDS MDS ON MDS.MDS_ID = TableToDelete.MDS_ID
	INNER JOIN dbo.Resident R ON R.Resident_ID = MDS.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END		

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM MDSData.MDSIdentification TableToDelete
	INNER JOIN MDSData.MDS MDS ON MDS.MDS_ID = TableToDelete.MDS_ID
	INNER JOIN dbo.Resident R ON R.Resident_ID = MDS.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END		

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.Accident TableToDelete
	INNER JOIN dbo.Resident R ON R.Resident_ID = TableToDelete.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.ResidentClaimConditionCode TableToDelete
	INNER JOIN dbo.Resident R ON R.Resident_ID = TableToDelete.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM Interface.ResidentTxDiagData TableToDelete
	INNER JOIN dbo.Resident R ON R.Resident_ID = TableToDelete.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END	

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM MDSData.MDS TableToDelete
	INNER JOIN dbo.Resident R ON R.Resident_ID = TableToDelete.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM dbo.ResidentCreationSource TableToDelete
	INNER JOIN dbo.Resident R ON R.Resident_ID = TableToDelete.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM Scheduling.ResidentScheduleTemplateItem TableToDelete
	INNER JOIN dbo.Resident R ON R.Resident_ID = TableToDelete.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END

	 SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (100) TableToDelete FROM Financial.PatientPayment TableToDelete
	INNER JOIN dbo.Resident R ON R.Resident_ID = TableToDelete.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = R.Facility_ID;
	SET @RowCount = @@RowCount; COMMIT;
	END
	
	DELETE TableToDelete FROM dbo.Resident TableToDelete 
	INNER JOIN DBA.ETL.FacilityToDelete Temp ON Temp.Facility_ID = TableToDelete.Facility_ID;

FETCH FacToDelete INTO @Facility_ID
END

CLOSE FacToDelete
DEALLOCATE FacToDelete;

SET @msg = CONVERT(VARCHAR(20),GETDATE(),114)+' Successfully Deleted Resident Record(s) Associated with Facility record(s).';
RAISERROR (@msg, 0, 1) WITH NOWAIT;

--===============================================================
--END -- Resident Route -- END of Post Task
--===============================================================



