/****** Object:  StoredProcedure [dbo].[usp_FDP_P1T2_TxSessionRouteDeletion_Data_Validation]    Script Date: 6/18/2019 9:19:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF OBJECT_ID('[dbo].[usp_FDP_P1T2_TxSessionRouteDeletion_Data_Validation]') IS NOT NULL
BEGIN
	DROP PROCEDURE [dbo].[usp_FDP_P1T2_TxSessionRouteDeletion_Data_Validation] 
END
GO


CREATE PROCEDURE [dbo].[usp_FDP_P1T2_TxSessionRouteDeletion_Data_Validation] 

AS

SELECT 'TxSessionActivity',COUNT (*) FROM dbo.TxSessionActivity TableToDelete
	INNER JOIN dbo.TxSession TS WITH (NOLOCK) ON TS.TxSession_ID = TableToDelete.TxSession_ID
	INNER JOIN dbo.TxTrack T WITH (NOLOCK) ON T.TxTrack_ID = TS.TxTrack_ID
	INNER JOIN dbo.PatientCase PC WITH (NOLOCK) ON PC.PatientCase_ID = T.PatientCase_ID
	INNER JOIN dbo.Stay S WITH (NOLOCK) ON S.Stay_ID = PC.Stay_ID
	INNER JOIN dbo.Resident  R WITH (NOLOCK) ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp WITH (NOLOCK) ON Temp.Facility_ID = R.Facility_ID;

SELECT 'TxSessionESignature',COUNT (*) FROM Snapshots.TxSessionESignature TableToDelete
	INNER JOIN Snapshots.TxSessionSnapshot TDS WITH (NOLOCK) ON TDS.TxSessionSnapshot_ID = TableToDelete.TxSessionSnapshot_ID
	INNER JOIN dbo.TxSession TS WITH (NOLOCK) ON TS.TxSession_ID = TDS.TxSession_ID
	INNER JOIN dbo.TxTrack T WITH (NOLOCK) ON T.TxTrack_ID = TS.TxTrack_ID
	INNER JOIN dbo.PatientCase PC WITH (NOLOCK) ON PC.PatientCase_ID = T.PatientCase_ID
	INNER JOIN dbo.Stay S WITH (NOLOCK) ON S.Stay_ID = PC.Stay_ID
	INNER JOIN dbo.Resident  R WITH (NOLOCK) ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp WITH (NOLOCK) ON Temp.Facility_ID = R.Facility_ID;

SELECT 'TxSessionSnapshot',COUNT (*) FROM Snapshots.TxSessionSnapshot TableToDelete
	INNER JOIN dbo.TxSession TS WITH (NOLOCK) ON TS.TxSession_ID = TableToDelete.TxSession_ID
	INNER JOIN dbo.TxTrack T WITH (NOLOCK) ON T.TxTrack_ID = TS.TxTrack_ID
	INNER JOIN dbo.PatientCase PC WITH (NOLOCK) ON PC.PatientCase_ID = T.PatientCase_ID
	INNER JOIN dbo.Stay S WITH (NOLOCK) ON S.Stay_ID = PC.Stay_ID
	INNER JOIN dbo.Resident  R WITH (NOLOCK) ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp WITH (NOLOCK) ON Temp.Facility_ID = R.Facility_ID;
 
SELECT 'ExportMessageAdditionalInfo',COUNT (*)  FROM Interface.ExportMessageAdditionalInfo TableToDelete
	INNER JOIN dbo.TxSession TS WITH (NOLOCK) ON TS.TxSession_ID = TableToDelete.TxSession_ID
	INNER JOIN dbo.TxTrack T WITH (NOLOCK) ON T.TxTrack_ID = TS.TxTrack_ID
	INNER JOIN dbo.PatientCase PC WITH (NOLOCK) ON PC.PatientCase_ID = T.PatientCase_ID
	INNER JOIN dbo.Stay S WITH (NOLOCK) ON S.Stay_ID = PC.Stay_ID
	INNER JOIN dbo.Resident  R WITH (NOLOCK) ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp WITH (NOLOCK) ON Temp.Facility_ID = R.Facility_ID;

SELECT 'TxMinute',COUNT (*) FROM dbo.TxMinute TableToDelete
	INNER JOIN dbo.TxSession TS WITH (NOLOCK) ON TS.TxSession_ID = TableToDelete.TxSession_ID
	INNER JOIN dbo.TxTrack T WITH (NOLOCK) ON T.TxTrack_ID = TS.TxTrack_ID
	INNER JOIN dbo.PatientCase PC WITH (NOLOCK) ON PC.PatientCase_ID = T.PatientCase_ID
	INNER JOIN dbo.Stay S WITH (NOLOCK) ON S.Stay_ID = PC.Stay_ID
	INNER JOIN dbo.Resident  R WITH (NOLOCK) ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp WITH (NOLOCK) ON Temp.Facility_ID = R.Facility_ID;
	
SELECT 'TxSession',COUNT (*) FROM dbo.TxSession TableToDelete
	INNER JOIN dbo.TxTrack T WITH (NOLOCK) ON T.TxTrack_ID = TableToDelete.TxTrack_ID
	INNER JOIN dbo.PatientCase PC WITH (NOLOCK) ON PC.PatientCase_ID = T.PatientCase_ID
	INNER JOIN dbo.Stay S WITH (NOLOCK) ON S.Stay_ID = PC.Stay_ID
	INNER JOIN dbo.Resident  R WITH (NOLOCK) ON R.Resident_ID = S.Resident_ID
	INNER JOIN DBA.ETL.FacilityToDelete Temp WITH (NOLOCK) ON Temp.Facility_ID = R.Facility_ID;



