/****** Object:  StoredProcedure [dbo].[usp_FDP_P2T3_FacilityPostRoute]    Script Date: 6/18/2019 9:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




IF OBJECT_ID('[dbo].[usp_FDP_P2T3_FacilityPostRoute]') IS NOT NULL
BEGIN
	DROP PROCEDURE [dbo].[usp_FDP_P2T3_FacilityPostRoute]
END
GO


CREATE PROCEDURE [dbo].[usp_FDP_P2T3_FacilityPostRoute] 

AS

SET NOCOUNT ON;

--==============================================================================
--BEGIN -- Facility Post Route
--==============================================================================
DECLARE @msg VARCHAR(MAX);
DECLARE @RowCount int = 1;

--BEGIN TRANSACTION 

--===================================================================================================
	DELETE FLB FROM dbo.FacilityLayoutBed FLB 
	INNER JOIN dbo.FacilityLayout FL ON FL.FacilityLayout_ID = FLB.FacilityLayout_ID
	WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = FL.Facility_ID);

	DELETE TableToDelete FROM dbo.FacilityLayout TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID);
--===================================================================================================


--===================================================================================================
	SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (1000) TableToDelete FROM Interface.PBJEmployment  TableToDelete
	INNER JOIN Interface.DataConsumer_PersonFacility IPF ON IPF.DataConsumer_PersonFacility_ID = TableToDelete.DataConsumer_PersonFacility_ID
	WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = IPF.Facility_ID);
	SET @RowCount = @@RowCount; COMMIT;
	END

	DELETE TableToDelete FROM Interface.DataConsumer_PersonFacility TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID);
--===================================================================================================


--===================================================================================================
	DELETE B FROM dbo.Bed B
	INNER JOIN dbo.ROOM R ON R.Room_ID = B.Room_ID
	INNER JOIN dbo.Wing W ON W.Wing_ID = R.Wing_ID
	WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = w.Facility_ID);

	DELETE R FROM dbo.ROOM R
	INNER JOIN dbo.Wing W ON W.Wing_ID = R.Wing_ID
	WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = w.Facility_ID);

	DELETE TableToDelete FROM dbo.Wing  TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID);
--===================================================================================================


--===================================================================================================
	SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (1000) TableToDelete FROM dbo.ScheduleLayoutAssignment TableToDelete
	INNER JOIN dbo.ScheduleLayout SL ON SL.ScheduleLayout_ID = TableToDelete.ScheduleLayout_ID
	WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = SL.Facility_ID);
	SET @RowCount = @@RowCount; COMMIT;
	END

	SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (1000) TableToDelete FROM Scheduling.StaffScheduleTemplateItem  TableToDelete
	INNER JOIN Scheduling.StaffScheduleTemplate ST ON ST.StaffScheduleTemplate_ID = TableToDelete.StaffScheduleTemplate_ID
	WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = ST.Facility_ID);
	SET @RowCount = @@RowCount; COMMIT;
	END

	DELETE TableToDelete FROM Scheduling.StaffScheduleTemplate  TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID);
--===================================================================================================

-- Column is Nullable so instead of deleting , set the value to NULL 
UPDATE dbo.Person
SET PrimaryFacility_ID = NULL
WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = Person.PrimaryFacility_ID);

--===================================================================================================
SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (1000) TableToDelete FROM Scheduling.StaffScheduleItem TableToDelete
INNER JOIN Scheduling.StaffSchedule SL ON SL.StaffSchedule_ID = TableToDelete.StaffSchedule_ID
WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = SL.Facility_ID);
SET @RowCount = @@RowCount; COMMIT;
END

DELETE TableToDelete FROM Scheduling.StaffSchedule TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID);
--===================================================================================================


--===================================================================================================
	SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (1000) TableToDelete FROM dbo.ScheduleLayoutAssignment TableToDelete
	INNER JOIN dbo.ScheduleLayout SL ON SL.ScheduleLayout_ID = TableToDelete.ScheduleLayout_ID
	WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = SL.Facility_ID);
	SET @RowCount = @@RowCount; COMMIT;
	END

	SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (1000) TableToDelete FROM Scheduling.StaffScheduleTemplateItem  TableToDelete
	INNER JOIN Scheduling.StaffScheduleTemplate ST ON ST.StaffScheduleTemplate_ID = TableToDelete.StaffScheduleTemplate_ID
	WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = ST.Facility_ID);
	SET @RowCount = @@RowCount; COMMIT;
	END

	DELETE TableToDelete FROM Scheduling.StaffScheduleTemplate TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID);
--===================================================================================================

--===================================================================================================
	SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (1000) TableToDelete FROM Flowsheets.ExerciseLibraryFacility TableToDelete
	INNER JOIN Flowsheets.ExerciseLibrary EL ON EL.ExerciseLibrary_ID = TableToDelete.ExerciseLibrary_ID
	WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = EL.Facility_ID);
	SET @RowCount = @@RowCount; COMMIT;
	END

	SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (1000) TableToDelete FROM Flowsheets.ExerciseLibraryFlowsheet TableToDelete
	INNER JOIN Flowsheets.ExerciseLibrary EL ON EL.ExerciseLibrary_ID = TableToDelete.ExerciseLibrary_ID
	WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = EL.Facility_ID);
	SET @RowCount = @@RowCount; COMMIT;
	END

	SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (1000) TableToDelete FROM Flowsheets.ExerciseLibraryActivityDefinition TableToDelete
	INNER JOIN Flowsheets.ExerciseLibrary EL ON EL.ExerciseLibrary_ID = TableToDelete.ExerciseLibrary_ID
	WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = EL.Facility_ID);
	SET @RowCount = @@RowCount; COMMIT;
	END

	DELETE TableToDelete FROM Flowsheets.ExerciseLibrary TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID);
--===================================================================================================

--===================================================================================================
	SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (1000) TableToDelete FROM Scheduling.GroupTemplateService TableToDelete
	INNER JOIN Scheduling.GroupTemplate GT ON GT.GroupTemplate_ID = TableToDelete.GroupTemplate_ID
	WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = GT.Facility_ID);
	SET @RowCount = @@RowCount; COMMIT;
	END

	SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (1000) TableToDelete FROM Scheduling.GroupTemplateICD9Category TableToDelete
	INNER JOIN Scheduling.GroupTemplate GT ON GT.GroupTemplate_ID = TableToDelete.GroupTemplate_ID
	WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = GT.Facility_ID);
	SET @RowCount = @@RowCount; COMMIT;
	END

	SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (1000) TableToDelete FROM Scheduling.GroupTemplateSchedule TableToDelete
	INNER JOIN Scheduling.GroupTemplate GT ON GT.GroupTemplate_ID = TableToDelete.GroupTemplate_ID
	WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = GT.Facility_ID);
	SET @RowCount = @@RowCount; COMMIT;
	END

	SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (1000) TableToDelete FROM dbo.GroupContainer TableToDelete
	INNER JOIN Scheduling.GroupTemplate GT ON GT.GroupTemplate_ID = TableToDelete.GroupTemplate_ID
	WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = GT.Facility_ID);
	SET @RowCount = @@RowCount; COMMIT;
	END

	DELETE TableToDelete FROM Scheduling.GroupTemplate TableToDelete WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = TableToDelete.Facility_ID);
--===================================================================================================

--===================================================================================================
	SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (1000) TableToDelete FROM dbo.PatientReferralStatusNote TableToDelete
	INNER JOIN dbo.PatientReferralStatus PRN ON PRN.PatientReferralStatus_ID = TableToDelete.PatientReferralStatus_ID
	INNER JOIN dbo.PatientReferral PR ON PR.PatientReferral_ID = PRN.PatientReferral_ID
	WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = PR.Facility_ID);
	SET @RowCount = @@RowCount; COMMIT;
	END

	SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (1000) TableToDelete FROM dbo.PatientReferralStatus TableToDelete
	INNER JOIN dbo.PatientReferral PR ON PR.PatientReferral_ID = TableToDelete.PatientReferral_ID
	WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = PR.Facility_ID);
	SET @RowCount = @@RowCount; COMMIT;
	END

	SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (1000) TableToDelete FROM dbo.PHIPatientReferralAudit TableToDelete
	INNER JOIN dbo.PatientReferral PR ON PR.PatientReferral_ID = TableToDelete.PatientReferral_ID
	WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = PR.Facility_ID);
	SET @RowCount = @@RowCount; COMMIT;
	END

	SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (1000) TableToDelete FROM Clinical.VisitOrder TableToDelete
	INNER JOIN Clinical.PhysicianApproval PA ON PA.PhysicianApproval_ID = TableToDelete.PhysicianApproval_ID
	INNER JOIN dbo.PatientReferral PR ON PR.PatientReferral_ID = PA.PatientReferral_ID
	WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = PR.Facility_ID);
	SET @RowCount = @@RowCount; COMMIT;
	END

	SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (1000) TableToDelete FROM Clinical.PhysicianApproval TableToDelete
	INNER JOIN dbo.PatientReferral PR ON PR.PatientReferral_ID = TableToDelete.PatientReferral_ID
	WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = PR.Facility_ID);
	SET @RowCount = @@RowCount; COMMIT;
	END

	SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (1000) TableToDelete FROM Clinical.PhysicianOrder TableToDelete
	INNER JOIN Clinical.PhysicianOrderHeader POH ON POH.PhysicianOrderHeader_ID = TableToDelete.PhysicianOrderHeader_ID
	INNER JOIN dbo.PatientReferral PR ON PR.PatientReferral_ID = POH.SourcePatientReferral_ID
	WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = PR.Facility_ID);
	SET @RowCount = @@RowCount; COMMIT;
	END

	SET @RowCount=1; WHILE @RowCount >0 BEGIN BEGIN TRANSACTION DELETE TOP (1000) TableToDelete FROM Clinical.PhysicianOrderHeader TableToDelete
	INNER JOIN dbo.PatientReferral PR ON PR.PatientReferral_ID = TableToDelete.SourcePatientReferral_ID
	WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = PR.Facility_ID);
	SET @RowCount = @@RowCount; COMMIT;
	END

--===============================================================
-- Deleting Facility
--===============================================================
/*
UPDATE F
SET ModifiedBy = 'sys-SSIS-FacilityDeletion'
FROM dbo.Facility F WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = Facility_ID);

DELETE FROM dbo.Facility WHERE EXISTS (SELECT * FROM DBA.ETL.FacilityToDelete ftd where ftd.Facility_ID = Facility_ID);

SET @msg = CONVERT(VARCHAR(20),GETDATE(),114)+' Successfully Deleted Facility record(s).';
RAISERROR (@msg, 0, 1) WITH NOWAIT;
--===============================================================
--END-- End of Facility Post Route
--===============================================================

*/


